<template>
  <v-row>
    <v-col cols="12" sm="7" md="7">
      <v-row>
        <v-col>
          <v-card>
            <ProfilePersonal />
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" sm="5" md="5">
      <v-row>
        <v-col>
          <v-card>
            <ProfileChangePassword />
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <ProfileChangeEmail />
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <ProfileChangeType />
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <ProfileDeleteAccount />
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

import ProfilePersonal from '~/components/user/ProfilePersonal.vue'
import ProfileChangePassword from '~/components/user/ProfileChangePassword.vue'
import ProfileChangeEmail from '~/components/user/ProfileChangeEmail.vue'
import ProfileChangeType from '~/components/user/ProfileChangeType.vue'
import ProfileDeleteAccount from '~/components/user/ProfileDeleteAccount.vue'

export default Vue.extend({
  middleware: 'auth',
  layout: 'default',
  components: {
    ProfilePersonal,
    ProfileChangePassword,
    ProfileChangeEmail,
    ProfileChangeType,
    ProfileDeleteAccount
  },
  data () {
    return {
      title: 'Adatlapom'
    }
  },
  mounted (): void {
    this.$store.dispatch('user/fetchLoggedInUser');
    this.$store.commit('layout/setTitle', this.title)
  }
})
</script>

<style lang="sass" scoped>
.submit-button
  width: 100%
</style>
