<template>
  <div>
    <v-list v-if="receivedOffers.length > 0" three-line>
      <template v-for="(receivedOffer, receivedOfferIndex) in receivedOffers">
        <v-divider :key="receivedOfferIndex" />
        <v-list-item :key="receivedOffer.offersId">
          <v-list-item-content>
            <v-list-item-subtitle>
              {{ receivedOffer.offer.createdAt }}
            </v-list-item-subtitle>
            <v-list-item-subtitle class="font-weight-bold">
              {{ receivedOffer.offer.details }}
            </v-list-item-subtitle>
            <v-list-item-title class="font-weight-bold">
              {{ receivedOffer.offer.price }}.- {{ receivedOffer.offer.currency === 'HUF' ? 'Ft' : receivedOffer.offer.currency }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
    <v-card-text v-else>
      <p class="caption">
        Ehhez az alkatrészhez jelenleg nem érkezett ajánlatod.
      </p>
    </v-card-text>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: "ArrivedList",
  props: {
    receivedOffers: {
      type: Array,
      default: () => []
    }
  }
})
</script>

<style scoped lang="sass">
.v-list-item
  padding: 0
</style>
