<template>
  <v-expansion-panels>
    <template v-for="(partSearch, partSearchIndex) in partSearches">
      <v-expansion-panel v-if="receivedOffersByPartSearch(partSearch.id).length > 0" :key="partSearchIndex">
        <v-expansion-panel-header>
          <span>
            <v-avatar :color="receivedOffersByPartSearch(partSearch.id).length > 0 ? 'green' : 'default'" size="28">
              <span class="white--text body-2 font-weight-bold">{{ receivedOffersByPartSearch(partSearch.id).length }}</span>
            </v-avatar>&nbsp;&nbsp;
            <span class="v-expansion-panel__title font-weight-medium">{{ partSearch.title }}</span>
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <ArrivedList
            v-if="filter === 'arrived'"
            :received-offers="receivedOffersByPartSearch(partSearch.id)"
            @change="changeStatus"
          />
          <ActionlessList
            v-else-if="filter === 'closed' || filter === 'succeed'"
            :received-offers="receivedOffersByPartSearch(partSearch.id)"
          />
          <DefaultList
            v-else
            :received-offers="receivedOffersByPartSearch(partSearch.id)"
            @change="changeStatus"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </template>
  </v-expansion-panels>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import ArrivedList from '~/components/demand/ArrivedList.vue'
import ActionlessList from '~/components/demand/ActionlessList.vue'
import DefaultList from '~/components/demand/DefaultList.vue'

export default Vue.extend({
  name: "ReceivedOffersExpansionList",
  components: {
    ArrivedList,
    ActionlessList,
    DefaultList
  },
  props: {
    partSearches: {
      default: []
    },
    filter: {
      type: String,
      default: 'arrived'
    }
  },
  computed: {
    ...mapGetters('receivedOffers', [
      'getReceivedOffers'
    ]),
    receivedOffersByPartSearch () {
      if (this.getReceivedOffers) {
        return (partSearchesId) => this.getReceivedOffers.filter(receivedOffer => {
          return (
            receivedOffer.partSearchesId === partSearchesId
            && receivedOffer.status === this.filter
          )
        })
      }
      return () => [];
    }
  },
  methods: {
    // getPhone (offersId) {
    //   this.$axios.get(
    //     process.env.API_ENDPOINT + '/get-phone-by-offer',
    //     { params: { offersId } }
    //   )
    //     .then((response) => {
    //       if (response.data.status === 'success') {
    //         this.contactUser = response.data.user;
    //         if (this.contactUser) {
    //           this.contactDialog = true
    //         }
    //       }
    //     })
    //     .catch(() => {
    //       this.$store.dispatch('snackbar/showSnackbar', {
    //         text: 'Az ajánlatküldő adtait nem sikerült lekérni. Kérjük, próbld újra!',
    //         type: 'error'
    //       })
    //     })
    // },
    changeStatus (offersId, status) {
      this.$axios.post(
        process.env.API_ENDPOINT + '/set-received-offers-status',
        { offers_id: offersId, status }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az ajánlat statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('receivedOffers/fetchReceivedOffers')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az ajánlat statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style scoped lang="sass">

</style>
