<template>
  <div>
    <v-list v-if="offerRequests.length" two-line>
      <template v-for="(offerRequest, i) in offerRequests">
        <v-divider :key="i" />
        <v-list-item
          :key="offerRequest.title"
          :class="offerRequest.status"
        >
          <v-list-item-content>
            <v-list-item-subtitle class="caption mb-1">
              {{ offerRequest.createdAt }}
            </v-list-item-subtitle>
            <v-list-item-title>{{ offerRequest.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ offerRequest.description }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <PartSearchDetails :dismantled-car="dismantledCar" :part-search="offerRequest" />
            <v-flex>
              <v-btn class="d-none d-sm-inline-flex" text small color="primary" @click="$emit('send', offerRequest.id, dismantledCar.id)">
                Ajánlat küldése
              </v-btn>
              <v-menu bottom left>
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    v-on="on"
                  >
                    <v-icon color="primary">
                      mdi-dots-vertical
                    </v-icon>
                  </v-btn>
                </template>
                <v-list dense>
                  <v-list-item class="d-sm-none" @click="$emit('send', offerRequest.id, dismantledCar.id)">
                    <v-list-item-title>Ajánlatküldés</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="$emit('change', offerRequest.id, 'archive')">
                    <v-list-item-title>Archivál</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="$emit('change', offerRequest.id, 'reject')">
                    <v-list-item-title>Elutasít</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <p v-else class="caption">
      Ehhez az autóhoz jelenleg nem érkezett ajánlatkérés.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import PartSearchDetails from '~/components/PartSearchDetails.vue'

export default Vue.extend({
  name: 'NewList',
  components: {
    PartSearchDetails
  },
  props: {
    dismantledCar: {
      type: Object,
      default: () => {}
    },
    offerRequests: {
      type: Array,
      default: () => []
    },
    filter: {
      type: String,
      default: () => 'new'
    }
  }
})
</script>

<style scoped>

</style>
