<template>
  <div>
    <v-list v-if="offerRequests.length" two-line>
      <template v-for="(offerRequest, i) in offerRequests">
        <v-divider :key="i" />
        <v-list-item
          :key="offerRequest.title"
          :class="offerRequest.status"
        >
          <v-list-item-content>
            <v-list-item-subtitle class="caption mb-1">
              {{ offerRequest.createdAt }}
            </v-list-item-subtitle>
            <v-list-item-title>{{ offerRequest.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ offerRequest.description }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
<!--            <v-btn @click="$router.push('offer/offer/' + )" icon v-on="on">-->
<!--              <v-icon color="primary">-->
<!--                mdi-information-->
<!--              </v-icon>-->
<!--            </v-btn>-->
            <v-flex class="mx-auto">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon small color="primary" @click="$emit('change', offerRequest.id, 'revoke')" v-on="on">
                    <v-icon>mdi-backup-restore</v-icon>
                  </v-btn>
                </template>
                <span>Visszaállít</span>
              </v-tooltip>
               <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon small color="primary" @click="$emit('change', offerRequest.id, 'close')" v-on="on">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </template>
                <span>Lezár</span>
              </v-tooltip>
               <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon small color="primary" @click="$emit('change', offerRequest.id, 'done')" v-on="on">
                    <v-icon>mdi-check-outline</v-icon>
                  </v-btn>
                </template>
                <span>Teljesít</span>
              </v-tooltip>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <p v-else class="caption">
      Ehhez az autóhoz jelenleg nincsen ajánlattételed.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ProgressList',
  props: {
    dismantledCar: {
      type: Object,
      default: () => {}
    },
    offerRequests: {
      type: Array,
      default: () => []
    },
    filter: {
      type: String,
      default: () => 'progress'
    }
  }
})
</script>

<style scoped>

</style>
