<template>
  <div>
    <v-list v-if="offerRequests.length" two-line>
      <template v-for="(offerRequest, i) in offerRequests">
        <v-divider :key="i" />
        <v-list-item
          :key="offerRequest.title"
          :class="offerRequest.status"
        >
          <v-list-item-content>
            <v-list-item-subtitle class="caption mb-1">
              {{ offerRequest.createdAt }}
            </v-list-item-subtitle>
            <v-list-item-title>{{ offerRequest.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ offerRequest.description }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <PartSearchDetails :dismantled-car="dismantledCar" :part-search="offerRequest" />
            <v-flex class="mx-auto">
              <v-btn class="d-none d-sm-inline-flex" text small color="primary" @click="$emit('change', offerRequest.id, 'revoke')">
                Ajánlat visszavonása
              </v-btn>
              <v-btn class="d-sm-none" icon small color="primary" @click="$emit('change', offerRequest.id, 'revoke')">
                <v-icon>mdi-backup-restore</v-icon>
              </v-btn>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <p v-else class="caption">
      Ehhez az autóhoz jelenleg nincsen ajánlattételed.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import PartSearchDetails from '~/components/PartSearchDetails.vue'

export default Vue.extend({
  name: 'ProgressList',
  components: {
    PartSearchDetails
  },
  props: {
    dismantledCar: {
      type: Object,
      default: () => {}
    },
    offerRequests: {
      type: Array,
      default: () => []
    },
    filter: {
      type: String,
      default: () => 'progress'
    }
  }
})
</script>

<style scoped>

</style>
