<template>
  <div>
    <v-list v-if="offerRequests.length" two-line>
      <template v-for="(offerRequest, i) in offerRequests">
        <v-divider :key="i" />
        <v-list-item
          :key="offerRequest.title"
          :class="offerRequest.status"
        >
          <v-list-item-content>
            <v-list-item-subtitle>
              <span class="caption">{{ offerRequest.createdAt }}</span> <strong>{{ offerRequest.title }}</strong>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-flex>
              <PartSearchDetails :dismantled-car="dismantledCar" :part-search="offerRequest" />
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <p v-else class="caption">
      Ehhez az autóhoz jelenleg nincs visszavont ajánlat.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import PartSearchDetails from '~/components/PartSearchDetails.vue'

export default Vue.extend({
  name: 'RevokedList',
  components: {
    PartSearchDetails
  },
  props: {
    dismantledCar: {
      type: Object,
      default: () => {}
    },
    offerRequests: {
      type: Array,
      default: () => []
    },
    filter: {
      type: String,
      default: () => 'revoke'
    }
  }
})
</script>

<style lang="sass" scoped>
.v-list-item
  min-height: auto
.v-list-item__content
  padding: 5px 0
.v-list-item__action
  margin: 3px 0 3px 16px
</style>
