<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/part-searches" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Alkatrészkereséseim
          </nuxt-link>
          <nuxt-link to="/add-my-car" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Új autót veszek fel
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-list v-if="getMyCars" two-line>
        <template v-for="(myCar, index) in getMyCars">
          <v-divider :key="index" />
          <v-list-item
            :key="myCar.title + index"
            :class="myCar.status"
          >
            <v-list-item-content>
              <v-list-item-title>{{ myCar.make }}, {{ myCar.model }}</v-list-item-title>
              <v-list-item-subtitle>{{ myCar.platform }}, {{ myCar.year }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="deleteMyCar(myCar.id)" v-on="on">
                    <v-icon color="grey lighten-1">
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </template>
                <span>Törlés</span>
              </v-tooltip>
            </v-list-item-action>
          </v-list-item>
        </template>
      </v-list>
      <v-card-text v-else>
        <p>A listád üres. Még nem vettél fel egyetlen autót sem.</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo
  },
  data () {
    return {
      pageTitle: 'Autóim',
      instruction: '...!',
      howToText: [
        '...'
      ],
      selectedMyCar: '',
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCars'
    ])
  },
  mounted (): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('myCars/fetchMyCars')
  },
  methods: {
    deleteMyCar (id) {
      this.$axios.delete(
        process.env.API_ENDPOINT + '/delete-my-car',
        { params: { id } }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az autót sikeresen törölted a autólistádról.',
              type: 'success'
            });
            this.$store.dispatch('myCars/fetchMyCars')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az autót nem sikerült törölni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style scoped>

</style>
