<template>
  <v-container>
    <v-card class="mx-auto mb-5" max-width="344">
      <v-list v-if="true" class="light" two-line>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="primary--text font-weight-bold">BMW, 2-Series</v-list-item-title>
            <v-list-item-subtitle class="primary--text font-weight-bold">(F22, F23, F87), 2014-____</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list two-line>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>1999.02.02.</v-list-item-subtitle>
            <v-list-item-title>Kerék</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Ár:</v-list-item-subtitle>
            <v-list-item-title>20.000Ft</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Leírás:</v-list-item-subtitle>
            <v-list-item-title>15" 5-ös osztás</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-flex class="d-flex justify-end flex-column flex-sm-row">
        <nuxt-link to="/received-offers/1" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2 mb-3">
          Vissza
        </nuxt-link>
      </v-flex>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  data () {
    return {
      pageTitle: 'Ajánlat',
      instruction: '...',
      howToText: [
        '...'
      ],
      // loading: false
    }
  },
  // computed: {
  //   ...mapGetters('offers', [
  //     'getOffer',
  //     'getOffers'
  //   ]),
  //   ...mapGetters('dismantledCars', [
  //     'getDismantledCar',
  //     'getDismantledCars'
  //   ]),
  //   ...mapGetters('partSearches', [
  //     'getPartSearch',
  //     'getPartSearches'
  //   ])
  // },
   mounted (): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
    // this.$store.dispatch('dismantledCars/fetchDismantledCars')
    // this.$store.dispatch('offerRequests/fetchOfferRequests')
  },
  // async mounted () {
  //   if (this.getDismantledCars.length === 0) {
  //     await this.$store.dispatch('dismantledCars/fetchDismantledCars')
  //   }
  //   if (this.getDismantledCars.length > 0) {
  //     const dismantledCar = this.getDismantledCars.find(dismantledCar => dismantledCar.id === this.getOffer.dismantledCarsId)
  //     this.$store.commit('dismantledCars/setDismantledCar', dismantledCar)
  //   }
  //   if (this.getPartSearches.length === 0) {
  //     await  this.$store.dispatch('partSearches/fetchPartSearches')
  //   }
  //   if (this.getPartSearches.length > 0) {
  //     const partSearch = this.getPartSearches.find(partSearch => partSearch.id === this.getOffer.partSearchesId)
  //     this.$store.commit('partSearches/setPartSearch', partSearch)
  //   }
  // },
  methods: {
    submit () {
      console.log('submit')
    },
    cancel () {
      console.log('cancel')
    }
  }
})
</script>

<style scoped>
</style>
