<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/add-my-car" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Új autót veszek fel
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-list v-if="getMyCars" two-line>
        <template v-for="(myCar, index) in getMyCars">
          <v-divider :key="index" />
          <v-list-item :key="myCar.title" :class="myCar.status">
            <v-list-item-content>
              <v-list-item-title>{{ myCar.make }}, {{ myCar.model }}</v-list-item-title>
              <v-list-item-subtitle>{{ myCar.platform }}, {{ myCar.year }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-flex justify-end>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="$router.push('/start-part-search/' + myCar.id)" v-on="on">
                      <v-icon color="primary">
                        mdi-plus-circle
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Új</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="$router.push('/part-searches/' + myCar.id)" v-on="on">
                      <v-icon color="primary">
                        mdi-view-list
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Keresett alkatrészek</span>
                </v-tooltip>
              </v-flex>
            </v-list-item-action>
          </v-list-item>
        </template>
      </v-list>
      <v-card-text v-else>
        <p>A listád üres. Még nem vettél fel egyetlen autót sem.</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import CardHowTo from '~/components/CardHowTo.vue'

import { mapGetters } from 'vuex'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo
  },
  data () {
    return {
      pageTitle: 'Alkatrészkereséseim',
      instruction: '...!',
      howToText: [
        '...'
      ],
      selectedMyCar: ''
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCars'
    ])
  },
  mounted (): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('myCars/fetchMyCars')
  }
})
</script>

<style scoped>

</style>
