<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/part-searches" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Alkatrészkeresések
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-list v-if="getMyCar" class="light" two-line>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="primary--text font-weight-bold">{{ getMyCar.make }}, {{ getMyCar.model }}</v-list-item-title>
            <v-list-item-subtitle class="primary--text font-weight-bold">{{ getMyCar.platform }}, {{ getMyCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-flex justify-end>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="changeMyCar" v-on="on">
                    <v-icon color="primary">
                      mdi-find-replace
                    </v-icon>
                  </v-btn>
                </template>
                <span>Új autó kiválasztása</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="$router.push('/start-part-search/' + getMyCar.id)" v-on="on">
                    <v-icon color="primary">
                      mdi-plus-circle
                    </v-icon>
                  </v-btn>
                </template>
                <span>Alkatrészkeresés indítása</span>
              </v-tooltip>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <v-list v-if="getPartSearches.length > 0" two-line>
        <template v-for="(partSearch, index) in getPartSearches">
          <v-divider v-if="index > 0" :key="index" />
          <v-list-item :key="partSearch.title" :class="partSearch.status">
            <v-list-item-content>
              <v-list-item-subtitle>{{ partSearch.createdAt }}</v-list-item-subtitle>
              <v-list-item-title>{{ partSearch.title }}</v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-flex justify-end>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="deletePartSearch(partSearch.id)" v-on="on">
                      <v-icon color="default">
                        mdi-delete
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Törlés</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="changeStatus(partSearch.id, partSearch.status)" v-on="on">
                      <v-icon v-if="partSearch.status === 'active'" color="primary">
                        mdi-pause-circle-outline
                      </v-icon>
                      <v-icon v-else color="primary">
                        mdi-play-circle
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Státusz (Aktív/Inaktív)</span>
                </v-tooltip>
              </v-flex>
            </v-list-item-action>
          </v-list-item>
        </template>
      </v-list>
      <v-card-text v-else>
        <p>A listád üres. Még nem vettél fel egyetlen alkatrészkeresést sem.</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from "~/components/CardHowTo.vue";

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo
  },
  data () {
    return {
      pageTitle: 'Keresett alkatrészek',
      instruction: '...!',
      howToText: [
        '...'
      ]
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCar',
      'getMyCars'
    ]),
    ...mapGetters('partSearches', [
      'getPartSearches'
    ])
  },
  async mounted () {
    this.$store.commit('myCars/setMyCar', null)
    this.$store.commit('partSearches/setPartSearches', [])
    this.$store.commit('layout/setTitle', this.pageTitle)
    await this.$store.dispatch('myCars/fetchMyCars')
    if (this.getMyCars.length > 0) {
      const myCar = this.getMyCars.find(myCar => Number(myCar.id) === Number(this.$router.currentRoute.params.myCarsId))
      if (myCar) {
        this.$store.commit('myCars/setMyCar', myCar)
      } else {
        this.$store.dispatch('snackbar/showSnackbar', {
          text: 'Az autót nem sikerült kiválasztani. Kérjük, próbld újra!',
          type: 'error'
        })
        await this.$router.push('/part-searches')
      }
    }
    await this.$store.dispatch('partSearches/fetchPartSearches', this.$router.currentRoute.params.myCarsId)
  },
  methods: {
    changeMyCar () {
      this.$store.commit('myCars/setMyCar', null)
      this.$router.push('/part-searches')
    },
    changeStatus (id, status) {
      this.$axios.put(
        process.env.API_ENDPOINT + '/set-part-search-status',
        { id, status: status === 'active' ? 'inactive' : 'active' }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresés statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('partSearches/fetchPartSearches', this.$router.currentRoute.params.myCarsId)
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresés statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    },
    deletePartSearch (id) {
      this.$axios.delete(
        process.env.API_ENDPOINT + '/delete-part-search',
        { params: { id } }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresést sikeresen törölted.',
              type: 'success'
            });
            this.$store.dispatch('partSearches/fetchPartSearches', this.$router.currentRoute.params.myCarsId)
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresést nem sikerült törölni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style scoped lang="sass">

</style>
