<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/part-searches" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Alkatrészkeresések
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-card-text class="pt-0">
        <ListFilter v-model="filter" />
      </v-card-text>
      <v-list v-if="getMyCars" two-line>
        <template v-for="(myCar, index) in getMyCars">
          <v-divider v-if="countReceivedOffersByMyCar(myCar.carCode) > 0" :key="index" />
          <v-list-item v-if="countReceivedOffersByMyCar(myCar.carCode) > 0" :key="myCar.title" :class="myCar.status">
            <v-list-item-avatar>
              <v-avatar :color="countReceivedOffersByMyCar(myCar.carCode) ? 'green' : 'default'" size="28">
                <span class="white--text body-2 font-weight-bold">{{ countReceivedOffersByMyCar(myCar.carCode) }}</span>
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ myCar.make }}, {{ myCar.model }}</v-list-item-title>
              <v-list-item-subtitle>{{ myCar.platform }}, {{ myCar.year }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-flex justify-end>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="$router.push('/received-offers/' + myCar.id)" v-on="on">
                      <v-icon color="primary">mdi-view-list</v-icon>
                    </v-btn>
                  </template>
                  <span>Ajánlat lista</span>
                </v-tooltip>
              </v-flex>
            </v-list-item-action>
          </v-list-item>
        </template>
      </v-list>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import CardHowTo from '~/components/CardHowTo.vue'

import { mapGetters } from 'vuex'
import ListFilter from '~/components/demand/ListFilter.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    ListFilter
  },
  data () {
    return {
      pageTitle: 'Ajánlatok',
      instruction: '...!',
      howToText: [
        '...'
      ],
      filter: 'arrived'
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCars'
    ]),
    ...mapGetters('receivedOffers', [
      'getReceivedOffers'
    ]),
    countReceivedOffersByMyCar () {
      if (this.getReceivedOffers) {
        return (carCode) => this.getReceivedOffers.filter(receivedOffer => {
          return (
            receivedOffer.carCode === carCode
            && receivedOffer.status === this.filter
          )
        }).length
      }
      return () => 0;
    }
  },
  mounted (): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('myCars/fetchMyCars')
    this.$store.dispatch('receivedOffers/fetchReceivedOffers')
  }
})
</script>

<style scoped>
</style>
