<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/received-offers" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Ajánlatok
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-card-text class="pt-0">
        <ListFilter v-model="filter" />
      </v-card-text>
      <v-list v-if="getMyCar" class="light" two-line>
        <v-list-item v-if="getMyCar.make">
          <v-list-item-content>
            <v-list-item-title class="primary--text font-weight-bold">{{ getMyCar.make }}, {{ getMyCar.model }}</v-list-item-title>
            <v-list-item-subtitle class="primary--text font-weight-bold">{{ getMyCar.platform }}, {{ getMyCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-flex justify-end>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="changeMyCar" v-on="on">
                    <v-icon color="primary">
                      mdi-find-replace
                    </v-icon>
                  </v-btn>
                </template>
                <span>Új autó kiválasztása</span>
              </v-tooltip>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <ReceivedOffersExpansionList
        v-if="getMyCar && filterPartSearches(getMyCar.id).length > 0"
        :part-searches="filterPartSearches(getMyCar.id)"
        :filter="filter"
      />
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import ListFilter from '~/components/demand/ListFilter.vue'
import ReceivedOffersExpansionList from '~/components/demand/ReceivedOffersExpansionList.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    ListFilter,
    ReceivedOffersExpansionList
  },
  data () {
    return {
      pageTitle: 'Ajánlatok',
      instruction: '...!',
      howToText: [
        '...'
      ],
      filter: 'arrived'
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCar',
      'getMyCars'
    ]),
    ...mapGetters('partSearches', [
      'getPartSearches'
    ]),
    ...mapGetters('receivedOffers', [
      'getReceivedOffers'
    ]),
    filterPartSearches () {
      if (this.getPartSearches) {
        return (myCarsId) => this.getPartSearches.filter(partSearch => {
          return (
            partSearch.myCarsId === myCarsId
          )
        })
      }
      return () => [];
    },
    receivedOffersByPartSearch () {
      if (this.getReceivedOffers) {
        return (partSearchesId) => this.getReceivedOffers.filter(receivedOffer => {
          return (
            receivedOffer.partSearchesId === partSearchesId
            && receivedOffer.status === this.filter
          )
        })
      }
      return () => [];
    }
  },
  async mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle)
    await this.$store.dispatch('myCars/fetchMyCars')
    await this.$store.dispatch('partSearches/fetchPartSearches')
    await this.$store.dispatch('receivedOffers/fetchReceivedOffers')
    if (this.getMyCars.length > 0) {
      const myCar = this.getMyCars.find(myCar => Number(myCar.id) === Number(this.$router.currentRoute.params.myCarsId))
      if (myCar) {
        this.$store.commit('myCars/setMyCar', myCar)
      } else {
        this.$store.dispatch('snackbar/showSnackbar', {
          text: 'Az autót nem sikerült kiválasztani. Kérjük, próbld újra!',
          type: 'error'
        })
        this.$router.push('/received-offers')
      }
    }
  },
  methods: {
    changeMyCar () {
      this.$store.commit('myCars/setMyCar', null)
      this.$router.push('/received-offers')
    }
  }
})
</script>

<style lang="sass">
.v-divider:first-child
  display: none
</style>
