<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/part-searches" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Alkatrészkereséseim
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-list v-if="getMyCar" two-line>
        <v-divider />
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ getMyCar.make }}, {{ getMyCar.model }}</v-list-item-title>
            <v-list-item-subtitle>{{ getMyCar.platform }}, {{ getMyCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon @click="changeMyCar">
              <v-icon color="grey lighten-1">
                mdi-find-replace
              </v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-divider />
      </v-list>
      <v-card-text>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="title"
            :rules="titleRules"
            label="Alkatrész neve"
            filled
            dense
          />
          <v-textarea
            v-model="description"
            :rules="descriptionRules"
            label="Alkatrész részletei"
            filled
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="gray"
          small
          text
          @click="$router.push('/part-searches')"
        >
          Mégse
        </v-btn>
        <v-spacer />
        <v-btn
          :loading="loading"
          :disabled="loading"
          class="submit-button"
          color="primary"
          small
          text
          outlined
          @click="submit"
        >
          Alkatrészkeresése feladása
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from "~/components/CardHowTo.vue";

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo
  },
  data () {
    return {
      pageTitle: 'Alkatrészkeresés indítása',
      instruction: '...!',
      howToText: [
        '...'
      ],
      valid: false,
      loading: false,
      title: '',
      description: '',
      images: '',
      titleRules: [
        v => !!v || 'Az alkatrész elnevezése kötelező!'
      ],
      descriptionRules: [
        v => !!v || 'Az alkatrészről kötelező írni pár szót!'
      ]
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCar',
      'getMyCars'
    ])
  },
  async mounted () {
    this.$store.commit('myCars/setMyCar', null)
    this.$store.commit('layout/setTitle', this.pageTitle)
    await this.$store.dispatch('myCars/fetchMyCars')
    if (this.getMyCars.length > 0) {
      const myCar = this.getMyCars.find(myCar => Number(myCar.id) === Number(this.$router.currentRoute.params.myCarsId))
      if (myCar) {
        this.$store.commit('myCars/setMyCar', myCar)
      } else {
        this.$store.dispatch('snackbar/showSnackbar', {
          text: 'Az autót nem sikerült kiválasztani. Kérjük, próbld újra!',
          type: 'error'
        })
        await this.$router.push('/part-searches')
      }
    }
  },
  methods: {
    changeMyCar () {
      this.$store.commit('myCars/setMyCar', null)
      this.$router.push('/part-searches')
    },
    submit () {
      this.loading = true;
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.$axios.post(process.env.API_ENDPOINT + '/start-part-search', {
          myCarId: this.getMyCar.id,
          title: this.title,
          description: this.description,
          images: ''
        }).then(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresésedet rögzítettük.',
            type: 'success'
          });
          this.loading = false;
          this.$router.push('/part-searches-list/' + this.$router.currentRoute.params.myCarsId)
        })
          .catch(() => {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresésed nem sikerült rögzíteni.',
              type: 'error'
            });
            this.loading = false
          })
      }
    }
  }
})
</script>

<style scoped lang="sass">

</style>
