<template>
  <div>
    <v-list v-if="offerRequests.length > 0" two-line>
      <template v-for="(offerRequest, i) in offerRequests">
        <v-divider :key="i" v-if="i > 0" />
        <v-list-item :key="offerRequest.partSearchesId">
          <v-list-item-content>
            <v-list-item-subtitle class="caption mb-1">
              {{ offerRequest.partSearch.createdAt }}
            </v-list-item-subtitle>
            <v-list-item-title>{{ offerRequest.partSearch.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ offerRequest.partSearch.description }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-flex justify-end>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="$emit('change', offerRequest.partSearch.id, 'archived')" v-on="on">
                    <v-icon color="primary">
                      mdi-archive-outline
                    </v-icon>
                  </v-btn>
                </template>
                <span>Archivál</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="$emit('change', offerRequest.partSearch.id, 'declined')" v-on="on">
                    <v-icon color="primary">
                      mdi-alert-octagon
                    </v-icon>
                  </v-btn>
                </template>
                <span>Elutasít</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="$emit('send', offerRequest.partSearch.id)" v-on="on">
                    <v-icon color="primary">
                      mdi-send
                    </v-icon>
                  </v-btn>
                </template>
                <span>Ajánlatküldés</span>
              </v-tooltip>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <v-card-text v-else>
      <p class="caption">
        Ehhez az autóhoz jelenleg nem érkezett ajánlatkérés.
      </p>
    </v-card-text>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ArrivedList',
  props: {
    offerRequests: {
      type: Array,
      default: () => []
    }
  }
})
</script>

<style lang="sass" scoped>

</style>
