<template>
  <div>
    <v-list v-if="offerRequests.length" two-line>
      <template v-for="(offerRequest, i) in offerRequests">
        <v-divider :key="i" v-if="i > 0" />
        <v-list-item :key="offerRequest.partSearch.title" :class="offerRequest.partSearch.status">
          <v-list-item-content>
            <v-list-item-subtitle class="caption mb-1">
              {{ offerRequest.partSearch.createdAt }}
            </v-list-item-subtitle>
            <v-list-item-title>{{ offerRequest.partSearch.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ offerRequest.partSearch.description }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-flex>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon small color="primary" @click="$emit('change', offerRequest.partSearch.id, 'arrived')" v-on="on">
                    <v-icon>mdi-backup-restore</v-icon>
                  </v-btn>
                </template>
                <span>Visszaállít</span>
              </v-tooltip>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <v-card-text v-else>
      <p class="caption">
        Ehhez az autóhoz jelenleg nincs ajánlatod ebben a kategóriában.
      </p>
    </v-card-text>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ArrivedList',
  props: {
    offerRequests: {
      type: Array,
      default: () => []
    }
  }
})
</script>

<style lang="sass" scoped>

</style>
