<template>
  <v-flex class="d-flex justify-end flex-column flex-sm-row">
    <v-btn
      v-for="(button, index) in buttons"
      :key="index"
      x-small
      text
      :class="[ value === button.type ? 'primary--text' : '' ]"
      @click="setFilter(button.type)"
    >
      {{ button.text }}
    </v-btn>
  </v-flex>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ListFilter',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      buttons: [
        {
          text: 'Új',
          type: 'arrived'
        },
        {
          text: 'Folyamatban',
          type: 'progress'
        },
        {
          text: 'Elutasított',
          type: 'declined'
        },
        {
          text: 'Teljesült',
          type: 'succeed'
        },
        {
          text: 'Lezárt',
          type: 'closed'
        },
        {
          text: 'Visszavont',
          type: 'revoked'
        },
        {
          text: 'Archivált',
          type: 'archived'
        }
      ]
    }
  },
  methods: {
    setFilter (payload) {
      this.$emit('input', payload)
    }
  }
})
</script>

<style scoped>

</style>
