<template>
  <v-app>
    <Snackbar />
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      fixed
      app
    >
      <v-list dense shaped>
        <v-list-item
          v-for="(item, i) in navigation.top"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider />
      <v-list dense shaped subheader>
        <v-subheader>Kínál</v-subheader>
        <v-list-item
          v-for="(item, i) in navigation.offer"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider />
      <v-list dense shaped subheader>
        <v-subheader>Keres</v-subheader>
        <v-list-item
          v-for="(item, i) in navigation.search"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider />
      <v-list dense shaped>
        <v-list-item
          v-for="(item, i) in navigation.common"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar fixed app flat color="#FFFFFF">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-if="isTitle" class="subtitle-1">
        {{ getTitle }}
      </v-toolbar-title>
      <v-spacer />
      <DefaultTopAppBar />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer app>
      <span class="primary--text caption">Copyright {{ new Date().getFullYear() }} <v-icon class="primary--text caption">mdi-copyright</v-icon> Bontosok.com</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import Snackbar from '~/components/Snackbar.vue'
import DefaultTopAppBar from '~/components/DefaultTopAppBar.vue'

export default Vue.extend({
  components: {
    Snackbar,
    DefaultTopAppBar
  },
  data () {
    return {
      drawer: false,
      navigation: {
        top: [
          {
            title: 'Főoldal',
            to: '/'
          }
        ],
        offer: [
          {
            title: 'Kiküldött ajánlatok',
            to: '/pending-offers'
          },
          {
            title: 'Ajánlatkérések',
            to: '/offer-requests'
          },
          {
            title: 'Bontott autóim',
            to: '/my-dismantled-cars'
          },
          {
            title: 'Bontott autó felvétele',
            to: '/add-dismantled-car'
          }
        ],
        search: [
          {
            title: 'Ajánlatok',
            to: '/received-offers'
          },
          {
            title: 'Alkatrészkeresések',
            to: '/part-searches'
          },
          {
            title: 'Alkatrészkeresés indítása',
            to: '/start-part-search'
          },
          {
            title: 'Autóim',
            to: '/my-cars'
          },
          {
            title: 'Autó felvétele',
            to: '/add-my-car'
          }
        ],
        common: [
          {
            title: 'Profil',
            to: '/profile'
          }
        ]
      },
      miniVariant: false
    }
  },
  computed: {
    ...mapGetters('layout', [
      'getTitle'
    ]),
    isTitle () {
      return this.getTitle !== ''
    }
  }

})
</script>
