<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/part-searches" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Alkatrészkereséseim
          </nuxt-link>
          <nuxt-link to="/add-my-car" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Új autót veszek fel
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <MyCarsList v-model="selectedMyCar" @select="selectMyCar" />
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import CardHowTo from '~/components/CardHowTo.vue'
import MyCarsList from '~/components/MyCarsList.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    MyCarsList
  },
  data () {
    return {
      pageTitle: 'Alkatrészkeresés indítása',
      instruction: 'Indíts új alkatrészkeresést!',
      howToText: [
        'Választhatsz felvitt autóid listájából vagy új autót vehetsz fel.'
      ],
      selectedMyCar: ''
    }
  },
  mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.commit('myCars/setMyCar', {});
  },
  methods: {
    selectMyCar () {
      this.$router.push('/add-part-search-details/' + this.selectedMyCar)
    }
  }
})
</script>

<style scoped>

</style>
