<template>
  <v-container>
    <v-card class="mx-auto mb-5" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-list v-if="getMyCar" two-line>
        <v-divider />
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ getMyCar.make }}, {{ getMyCar.model }}</v-list-item-title>
            <v-list-item-subtitle>{{ getMyCar.platform }}, {{ getMyCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider />
      </v-list>
      <PartSearchForm @cancel="cancel" @submit="submit"/>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import PartSearchForm from '~/components/PartSearchForm.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    PartSearchForm
  },
  async serverPrefetch () {
    await this.$store.dispatch('myCars/fetchMyCars', 'SSR');
    await this.$store.dispatch('partSearches/fetchPartSearches', 'SSR');
  },
  data () {
    return {
      pageTitle: 'Alkatrészkeresés részletei',
      instruction: 'Töltsd ki az alábbi űrlapot...!',
      howToText: [
        'Az alábbi űrlap kitöltésével tudsz alkatrészt keresni. A keresésed meg fog jeleni minden olyan bontósnál, aki rendelkezik a kiválasztott autóval!.'
      ],
      loading: false
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCar',
      'getMyCars'
    ]),
    ...mapGetters('partSearches', [
      'getPartSearch',
      'getPartSearches'
    ])
  },
  async mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle);
    if (this.getMyCars.length === 0) {
      await this.$store.dispatch('myCars/fetchMyCars');
    }
    if (this.getMyCars.length > 0) {
      const myCar = this.getMyCars.find(myCar => myCar.id === this.$router.currentRoute.params.myCarsId);
      this.$store.commit('myCars/setMyCar', myCar || {})
    }
    if (this.getPartSearches.length === 0) {
      await this.$store.dispatch('partSearches/fetchPartSearches');
    }
    if (this.getPartSearches.length > 0) {
      const partSearch = this.getPartSearches.find(partSearch => partSearch.id === this.$router.currentRoute.params.partSearchesId);
      this.$store.commit('partSearches/setPartSearch', partSearch || {})
    }
  },
  methods: {
    submit () {
      console.log('submit');
      this.loading = true;
      // this.$axios.post(process.env.API_ENDPOINT + '/add-part-search', {
      //   myCarId: this.getMyCar.id,
      //   title: this.title,
      //   description: this.description,
      //   images: this.uploadedImages
      // }).then(() => {
      //   this.$store.dispatch('snackbar/showSnackbar', {
      //     text: 'Az Alkatrészkeresésedet rögzítettük.',
      //     type: 'success'
      //   });
      //   this.clearForm();
      //   this.loading = false;
      //   this.$router.push('/part-searches')
      // })
      //   .catch(() => {
      //     this.$store.dispatch('snackbar/showSnackbar', {
      //       text: 'Az Alkatrészkeresésed nem sikerült rögzíteni.',
      //       type: 'error'
      //     });
      //     this.loading = false
      //   })
    },
    cancel () {
      this.$router.push('/part-searches')
    }
  }
})
</script>

<style scoped>

</style>
