<template>
  <v-container>
    <v-card
      class="mx-auto"
      max-width="600"
    >
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <OffersListFilter v-model="filter" />
      </v-card-text>
      <v-expansion-panels
        v-model="panel"
      >
        <template
          v-for="(myCar, myCarIndex) in getOffers"
        >
          <v-expansion-panel
            v-if="myCar.counter[filter]"
            :key="myCarIndex"
          >
            <v-expansion-panel-header>
              <span>
                <v-avatar :color="myCar.counter[filter] ? 'green' : 'default'" size="28">
                  <span class="white--text body-2 font-weight-bold">{{ myCar.counter[filter] }}</span>
                </v-avatar>&nbsp;&nbsp;
                <span class="v-expansion-panel__title font-weight-medium">{{ myCar.make }}  {{ myCar.model }} </span>
                <span class="v-expansion-panel__subtitle">{{ myCar.platform }} {{ myCar.year }}</span>
              </span>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-expansion-panels
                flat
                tile
                hover
              >
                <template
                  v-for="(partSearch, partSearchIndex) in myCar.partSearches"
                >
                  <v-expansion-panel
                    v-if="partSearch.counter[filter]"
                    :key="partSearchIndex"
                  >
                    <v-expansion-panel-header>
                      <span>
                        <v-avatar :color="partSearch.counter[filter] ? 'green' : 'default'" size="28">
                          <span class="white--text body-2 font-weight-bold">{{ partSearch.counter[filter] }}</span>
                        </v-avatar>&nbsp;&nbsp;
                        <span class="v-expansion-panel__title font-weight-medium">{{ partSearch.title }}</span>
                      </span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-list v-if="partSearch.offers" three-line>
                        <template
                          v-for="(offer, offersIndex) in partSearch.offers.filter((offer) => {return offer.progressStatus === filter})"
                        >
                          <v-divider :key="offersIndex" />
                          <v-list-item :key="offer.id">
                            <v-list-item-content>
                              <v-list-item-subtitle>
                                {{ offer.createdAt }}
                              </v-list-item-subtitle>
                              <v-list-item-subtitle class="font-weight-bold">
                                {{ offer.details }}
                              </v-list-item-subtitle>
                              <v-list-item-title class="font-weight-bold">
                                {{ offer.price }}.- Ft
                              </v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                              <v-flex class="d-flex flex-row">
                                <v-btn v-if="filter !== 'reject'" icon @click="changeStatus(offer.id, 'reject')">
                                  <v-icon color="default">
                                    mdi-cart-off
                                  </v-icon>
                                </v-btn>
                                <v-btn v-if="filter === 'reject'" icon @click="changeStatus(offer.id, 'new')">
                                  <v-icon color="default">
                                    mdi-backup-restore
                                  </v-icon>
                                </v-btn>
                                <v-btn icon>
                                  <v-icon color="primary">
                                    mdi-information
                                  </v-icon>
                                </v-btn>
                              </v-flex>
                              <v-btn v-if="filter !== 'reject'" icon @click="getPhone(offer.id)">
                                <v-icon color="primary">
                                  mdi-card-account-phone
                                </v-icon>
                              </v-btn>
                              <v-dialog
                                v-if="contactUser"
                                v-model="contactDialog"
                                max-width="290"
                              >
                                <v-card>
                                  <v-card-title class="headline">
                                    Ajánlatküldő adatai
                                  </v-card-title>
                                  <v-card-text class="pt-5">
                                    <p>
                                      Név: <strong>{{ contactUser.lastName }} {{ contactUser.firstName }}</strong><br>
                                      Város: <strong>{{ contactUser.city }}</strong><br>
                                      Telefonszám: <strong>{{ contactUser.phone }}</strong>
                                    </p>
                                  </v-card-text>
                                  <v-card-actions>
                                    <v-spacer />
                                    <v-btn
                                      color="green darken-1"
                                      text
                                      @click="contactDialog = false"
                                    >
                                      Bezár
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                            </v-list-item-action>
                          </v-list-item>
                        </template>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </template>
              </v-expansion-panels>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </template>
      </v-expansion-panels>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import OffersListFilter from '~/components/OffersListFilter.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    OffersListFilter
  },
  data () {
    return {
      pageTitle: 'Ajánlatok',
      instruction: 'Böngéssz a beérkező alkatrészajánlatok között!',
      howToText: [
        'Az autó, majd az alkatrészek nevére kattintva ' +
        'az ikonok segítségével megtekintheted az ajánlatküldő adatait ' +
        'és elérhetőségét, és megváltoztathatod az ajánlat státuszát annak megfelelően, ' +
        'hogy mennyire keltette fel érdeklődésed.'
      ],
      panel: [1, 2],
      filter: 'new',
      contactDialog: false,
      contactUser: null
    }
  },
  computed: {
    ...mapGetters('offers', [
      'getOffers'
    ])
  },
  mounted (): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('offers/fetchOffers')
  },
  methods: {
    getPhone (offersId) {
      this.$axios.get(
        process.env.API_ENDPOINT + '/get-phone-by-offer',
        { params: { offersId } }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.contactUser = response.data.user;
            if (this.contactUser) {
              this.contactDialog = true
            }
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az ajánlatküldő adtait nem sikerült lekérni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    },
    changeStatus (offersId, status) {
      this.$axios.post(
        process.env.API_ENDPOINT + '/set-offers-status',
        { offers_id: offersId, status }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az ajánlat statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('offers/fetchOffers')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az ajánlat statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style lang="sass" scoped>

</style>
