<template>
  <v-container>
    <v-card
      class="mx-auto"
      max-width="600"
    >
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/add-part-search" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Alkatrészkeresés felvétele
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-expansion-panels
        v-model="expansionIndex"
      >
        <v-expansion-panel
          v-for="(myCar, index) in getPartSearchesList"
          :key="index"
        >
          <v-expansion-panel-header>
            <span>
              <span class="v-expansion-panel__title font-weight-medium">{{ myCar.make }}  {{ myCar.model }} </span>
              <span class="v-expansion-panel__subtitle">{{ myCar.platform }} {{ myCar.year }}</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-list v-if="myCar.partSearches" two-line>
              <template v-for="(partSearch, i) in myCar.partSearches">
                <v-divider :key="i" />
                <v-list-item
                  :key="partSearch.title + i"
                  :class="partSearch.status"
                >
                  <v-list-item-content>
                    <v-list-item-title>{{ partSearch.title }}</v-list-item-title>
                    <v-list-item-subtitle>{{ partSearch.description }}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-flex justify-end>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn icon @click="deletePartSearch(partSearch.id)" v-on="on">
                            <v-icon color="default">
                              mdi-delete
                            </v-icon>
                          </v-btn>
                        </template>
                        <span>Törlés</span>
                      </v-tooltip>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn icon @click="changeStatus(partSearch.id, partSearch.status)" v-on="on">
                            <v-icon v-if="partSearch.status === 'active'" color="primary">
                              mdi-pause-circle-outline
                            </v-icon>
                            <v-icon v-else color="primary">
                              mdi-play-circle
                            </v-icon>
                          </v-btn>
                        </template>
                        <span>Státusz (Aktív/Inaktív)</span>
                      </v-tooltip>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn icon @click="editPartSearch(myCar.id, partSearch.id)" v-on="on">
                            <v-icon color="primary">
                              mdi-wrench
                            </v-icon>
                          </v-btn>
                        </template>
                        <span>Szerkesztés</span>
                      </v-tooltip>
                    </v-flex>
                  </v-list-item-action>
                </v-list-item>
              </template>
            </v-list>
            <p v-else class="caption">
              Ehhez az autóhoz még nem vettél fel egyetlen akatrész keresést sem.
            </p>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo
  },
  async serverPrefetch() {
    await this.$store.dispatch('partSearches/fetchPartSearchesList');
  },
  data () {
    return {
      pageTitle: 'Alkatrészkeresések',
      instruction: 'Felvitt alkatrészkereséseid listája.',
      howToText: [
        'Az szerkesztés ikonra kattintva az inaktiválás és a törlés funciókkal kezelheted őket annak megfelelően, hogy aktuális-e még számodra a keresés.'
      ],
      expansionIndex: -1
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCar'
    ]),
    ...mapGetters('partSearches', [
      'getPartSearchesList'
    ])
  },
  async mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle)
    if (this.getPartSearchesList.length === 0) {
      await this.$store.dispatch('partSearches/fetchPartSearchesList');
    }
    if (this.getMyCar) {
      const expansibleCar = this.getPartSearchesList.find(partSearch => partSearch.id === this.getMyCar.id);
      if (expansibleCar) {
        this.expansionIndex = expansibleCar.order || -1
      }
    }
  },
  methods: {
    editPartSearch (myCarsId, partSearchesId) {
        this.$router.push('edit-part-search/' + myCarsId + '/' + partSearchesId)
    },
    changeStatus (id, status) {
      this.$axios.put(
        process.env.API_ENDPOINT + '/set-part-search-status',
        { id, status: status === 'active' ? 'inactive' : 'active' }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresés statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('partSearches/fetchPartSearches')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresés statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    },
    deletePartSearch (id) {
      this.$axios.delete(
        process.env.API_ENDPOINT + '/delete-part-search',
        { params: { id } }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresést sikeresen törölted.',
              type: 'success'
            });
            this.$store.dispatch('partSearches/fetchPartSearches')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresést nem sikerült törölni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style lang="sass" scoped>
.v-expansion-panels .v-expansion-panel .v-expansion-panel__title,
.v-expansion-panels .v-expansion-panel .v-expansion-panel__subtitle
  flex: 1 1 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  @media (max-width: 550px)
    display: inline-flex
.v-expansion-panels .v-expansion-panel .v-expansion-panel__title
  align-self: center
  font-size: 1rem
  @media (max-width: 550px)
    max-width: 100px
    display: inline-flex
.v-expansion-panels .v-expansion-panel .v-expansion-panel__subtitle
  align-self: center
  font-size: 0.875rem
  color: rgba(0, 0, 0, 0.6)
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).inactive
  color: rgba(0, 0, 0, 0.20) !important
.theme--light.v-list-item.inactive .v-list-item__subtitle
  color: rgba(0, 0, 0, 0.20) !important
</style>
