<template>
  <v-card>
    <v-card-title class="subtitle-1">
      {{ cardTitle }}
    </v-card-title>
    <v-card-text>
      <v-form
        ref="formChangePassword"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          type="password"
          label="Jelszó"
          filled
          dense
          @keyup.enter="submit"
        />
        <v-text-field
          v-model="passwordConfirm"
          :rules="[
            v => !!v || 'Jelszó megerősítése kötelező',
            passwordComparisonRules
          ]"
          type="password"
          label="Jelszó megerősítése"
          filled
          dense
          @keyup.enter="submit"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        color="gray"
        small
        text
        @click="cancel"
      >
        Mégse
      </v-btn>
      <v-spacer />
      <v-btn
        :loading="loading"
        :disabled="loading"
        class="submit-button"
        color="primary"
        small
        text
        outlined
        @click="submit"
      >
        Jelszó módosítása
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ProfileChangePassword',
  data () {
    return {
      cardTitle: 'Jelszó',
      loading: false,
      valid: false,
      password: '',
      passwordConfirm: '',
      passwordRules: [
        v => !!v || 'Jelszó megadása kötelező',
        v => v.length >= 10 || 'A jelszónak hosszabbnak kell lennie 10 karakternél'
      ]
    }
  },
  methods: {
    passwordComparisonRules () {
      return this.password === this.passwordConfirm || 'A jelszó megerősítése nem egyezik a jelszóval'
    },
    submit () {
      const form: any = this.$refs.formChangePassword;
      if (form.validate()) {
        this.loading = true;
        this.$axios.post(process.env.API_ENDPOINT + '/change-password', {
          password: this.password,
          passwordConfirm: this.passwordConfirm
        }).then(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'A jelszavadat módosítottuk',
            type: 'success'
          });
          this.loading = false;
          this.clearForm()
        })
          .catch(() => {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Jelszavadat nem sikerült módosítani',
              type: 'error'
            });
            this.loading = false
          })
      }
    },
    cancel () {
      this.clearForm();
      this.loading = false
    },
    clearForm () {
      this.password = '';
      this.passwordConfirm = '';
      const form: any = this.$refs.formChangePassword;
      form.resetValidation()
    }
  }
})
</script>
