<template>
  <v-card>
    <v-card-title class="subtitle-1">
      {{ cardTitle }}
    </v-card-title>
    <v-card-subtitle>Megadhatod, hogy alapvetően milyen céllal érkeztél az oldalra. Ennek tudatában mi sokkal inkább igényeidhez tudjuk igazítani a felhasználói felületeket.</v-card-subtitle>
    <v-card-text>
      <v-select
        v-model="type"
        :items="types"
        label="Felhasználás típusa"
        filled
      />
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn
        :loading="loading"
        :disabled="loading"
        class="submit-button"
        color="primary"
        small
        text
        outlined
        @click="submit"
      >
        Módosítás
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ProfileChangeType',
  data () {
    return {
      cardTitle: 'Felhasználás típusa',
      loading: false,
      types: [
        { value: 'offer', text: 'Alkatrészt kínál' },
        { value: 'search', text: 'Alkatrészt keres' }
      ]
    }
  },
  computed: {
    type: {
      set (val) {
        this.$store.commit('user/setType', val)
      },
      get () {
        return this.$store.state.user.user.type
      }
    }
  },
  methods: {
    submit () {
      this.loading = true;
      this.$axios.post(process.env.API_ENDPOINT + '/change-type', {
        type: this.type
      }).then(() => {
        this.$store.dispatch('snackbar/showSnackbar', {
          text: 'A felhasználásod típusát módosítottuk',
          type: 'success'
        });
        this.loading = false
      })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'A felhasználásod típusát nem sikerült módosítani',
            type: 'error'
          });
          this.loading = false
        })
    }
  }
})
</script>
