<template>
  <v-card>
    <v-card-title class="subtitle-1">
      {{ cardTitle }}
    </v-card-title>
    <v-card-text>
      <v-form
        ref="formUpdatePersonal"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="username"
          :rules="usernameRules"
          label="Felhasználónév"
          filled
          dense
          @keyup.enter="submit"
        />
        <v-text-field
          v-model="lastName"
          :rules="lastNameRules"
          label="Vezetéknév"
          filled
          dense
          @keyup.enter="submit"
        />
        <v-text-field
          v-model="firstName"
          :rules="firstNameRules"
          label="Keresztnév"
          filled
          dense
          @keyup.enter="submit"
        />
        <v-text-field
          v-model="companyName"
          :rules="companyNameRules"
          label="Cégnév"
          filled
          dense
          @keyup.enter="submit"
        />
        <v-text-field
          v-model="phone"
          :rules="phoneRules"
          label="Telefonszám"
          filled
          dense
          @keyup.enter="submit"
        />
        <v-text-field
          v-model="zip"
          :rules="zipRules"
          label="Irányítószám"
          filled
          dense
          @keyup.enter="submit"
        />
        <v-text-field
          v-model="city"
          :rules="cityRules"
          label="Város"
          filled
          dense
          @keyup.enter="submit"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        color="gray"
        small
        text
        @click="loading = false"
      >
        Mégse
      </v-btn>
      <v-spacer />
      <v-btn
        :loading="loading"
        :disabled="loading"
        class="submit-button"
        color="primary"
        small
        text
        outlined
        @click="submit"
      >
        Mentés
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ProfilePersonal',
  data () {
    return {
      cardTitle: 'Adatok',
      loading: false,
      valid: false,
      usernameRules: [
        v => !!v || 'A felhasználónév megadása kötelező',
        v => /[\W_]*/.test(v) || 'Érvénytelen felhasználónév'
      ],
      firstNameRules: [
        v => !!v || 'A keresztnév megadása kötelező',
        v => /[\W_]*/.test(v) || 'Érvénytelen keresztnév'
      ],
      lastNameRules: [
        v => !!v || 'A vezetéknév megadása kötelező',
        v => /[\W_]*/.test(v) || 'Érvénytelen vezetéknév'
      ],
      companyNameRules: [
        v => !!v || 'A cégnév megadása kötelező'
      ],
      phoneRules: [
        v => !!v || 'A telefonszám megadása kötelező'
      ],
      zipRules: [
        v => !!v || 'Az irányítószám megadása kötelező'
      ],
      cityRules: [
        v => !!v || 'A cégnév megadása kötelező'
      ]
    }
  },
  computed: {
    city: {
      set (val) {
        this.$store.commit('user/setCity', val)
      },
      get () {
        return this.$store.state.user.user.city
      }
    },
    companyName: {
      set (val) {
        this.$store.commit('user/setCompanyName', val)
      },
      get () {
        return this.$store.state.user.user.companyName
      }
    },
    firstName: {
      set (val) {
        this.$store.commit('user/setFirstName', val)
      },
      get () {
        return this.$store.state.user.user.firstName
      }
    },
    lastName: {
      set (val) {
        this.$store.commit('user/setLastName', val)
      },
      get () {
        return this.$store.state.user.user.lastName
      }
    },
    phone: {
      set (val) {
        this.$store.commit('user/setPhone', val)
      },
      get () {
        return this.$store.state.user.user.phone
      }
    },
    username: {
      set (val) {
        this.$store.commit('user/setUsername', val)
      },
      get () {
        return this.$store.state.user.user.username
      }
    },
    zip: {
      set (val) {
        this.$store.commit('user/setZip', val)
      },
      get () {
        return this.$store.state.user.user.zip
      }
    }
  },
  mounted(): void {
    this.$store.dispatch('user/fetchLoggedInUser')
  },
  methods: {
    submit () {
      const form: any = this.$refs.formUpdatePersonal;
      if (form.validate()) {
        this.loading = true;
        this.$axios.post(process.env.API_ENDPOINT + '/update-personal', {
          username: this.username,
          firstName: this.firstName,
          lastName: this.lastName,
          companyName: this.companyName,
          phone: this.phone,
          zip: this.zip,
          city: this.city
        }).then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'A profil adataidat elmentettük',
              type: 'success'
            });
            this.$store.dispatch('user/fetchLoggedInUser');
            this.loading = false
          }
        })
          .catch(() => {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'A profil adataid mentése nem sikerült',
              type: 'error'
            });
            this.loading = false
          })
      }
    }
  }
})
</script>

<style scoped>

</style>
