<template>
  <v-container>
    <v-card class="mx-auto mb-5" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/add-dismantled-car" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text">
            Bontott autó felvétele
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-list v-if="getDismantledCars" two-line>
        <template v-for="(dismantledCar, index) in getDismantledCars">
          <v-divider :key="index" />
          <v-list-item :key="dismantledCar.title" :class="dismantledCar.status">
            <v-list-item-content>
              <v-list-item-title>{{ dismantledCar.make }}, {{ dismantledCar.model }}</v-list-item-title>
              <v-list-item-subtitle>{{ dismantledCar.platform }}, {{ dismantledCar.year }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-flex justify-end>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="deleteCar(dismantledCar.id)" v-on="on">
                      <v-icon color="default">
                        mdi-delete
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Töröl</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="changeStatus(dismantledCar.id, dismantledCar.status)" v-on="on">
                      <v-icon v-if="dismantledCar.status === 'active'" color="primary">
                        mdi-pause-circle-outline
                      </v-icon>
                      <v-icon v-else color="primary">
                        mdi-play-circle
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Státusz (Aktív/Inaktív)</span>
                </v-tooltip>
              </v-flex>
            </v-list-item-action>
          </v-list-item>
        </template>
      </v-list>
      <v-card-text v-else>
        <p>A listád üres. Még nem vettél fel egyetlen autót sem.</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo
  },
  data () {
    return {
      pageTitle: 'Bontott autóim',
      instruction: 'Az általad felvitt bontott autók listája.',
      howToText: [
        'Az szerkesztés ikonra kattintva az inaktiválás és a törlés funkciókkal kezelheted őket annak megfelelően, hogy aktuális-e még számodra ez az ajánlat.'
      ]
    }
  },
  computed: {
    ...mapGetters('dismantledCars', [
      'getDismantledCars'
    ])
  },
  mounted (): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('dismantledCars/fetchDismantledCars')
  },
  methods: {
    changeStatus (id, status) {
      this.$axios.put(
        process.env.API_ENDPOINT + '/set-dismantled-cars-status',
        { id, status: status === 'active' ? 'inactive' : 'active' }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az autó statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('dismantledCars/fetchDismantledCars')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az autó statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    },
    deleteCar (id) {
      this.$axios.delete(
        process.env.API_ENDPOINT + '/delete-dismantled-car',
        { params: { id } }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az autót sikeresen törölted a bontott autóid közül.',
              type: 'success'
            });
            this.$store.dispatch('dismantledCars/fetchDismantledCars')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az autót nem sikerült törölni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style lang="sass" scoped>
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).inactive
  color: rgba(0, 0, 0, 0.20) !important
.theme--light.v-list-item.inactive .v-list-item__subtitle
  color: rgba(0, 0, 0, 0.20) !important
</style>
