<template>
  <v-container>
    <v-card class="mx-auto mb-5" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/pending-offers" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Kiküldött ajánlatok
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-card-text class="pt-0">
        <ListFilter v-model="filter" />
      </v-card-text>
      <v-list v-if="getActiveDismantledCars" two-line>
        <template v-for="(dismantledCar, index) in getActiveDismantledCars">
          <v-divider :key="index" />
          <v-list-item :key="dismantledCar.title" :class="dismantledCar.status">
            <v-list-item-avatar>
              <v-avatar :color="countOfferRequestsByDismantledCarAndFilter(dismantledCar.carCode) ? 'green' : 'default'" size="28">
                <span class="white--text body-2 font-weight-bold">{{ countOfferRequestsByDismantledCarAndFilter(dismantledCar.carCode) }}</span>
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ dismantledCar.make }}, {{ dismantledCar.model }}</v-list-item-title>
              <v-list-item-subtitle>{{ dismantledCar.platform }}, {{ dismantledCar.year }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-flex justify-end>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon @click="$router.push('/offer-requests/' + dismantledCar.id)" v-on="on">
                      <v-icon color="primary">
                        mdi-view-list
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Keresett alkatrészek</span>
                </v-tooltip>
              </v-flex>
            </v-list-item-action>
          </v-list-item>
        </template>
      </v-list>
      <v-card-text v-else>
        <p>A listád üres. Még nem vettél fel egyetlen bontott autót sem.</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import ListFilter from '~/components/supply/ListFilter.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    ListFilter
  },
  data () {
    return {
      pageTitle: 'Ajánlatkérések',
      instruction: '...!',
      howToText: [
        '...'
      ],
      filter: 'arrived'
    }
  },
  computed: {
    ...mapGetters('dismantledCars', [
      'getActiveDismantledCars'
    ]),
    ...mapGetters('offerRequests', [
      'getOfferRequests'
    ]),
    countOfferRequestsByDismantledCarAndFilter () {
      if (this.getOfferRequests) {
        return (carCode) => this.getOfferRequests.filter(offerRequest => {
          return (
            offerRequest.carCode === carCode
            && offerRequest.status === this.filter
          )
        }).length
      }
      return () => 0;
    }
  },
  mounted (): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('dismantledCars/fetchDismantledCars')
    this.$store.dispatch('offerRequests/fetchOfferRequests')
  },
  methods: {}
})
</script>

<style lang="sass" scoped>
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).inactive
  color: rgba(0, 0, 0, 0.20) !important
.theme--light.v-list-item.inactive .v-list-item__subtitle
  color: rgba(0, 0, 0, 0.20) !important
</style>
