<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/offer-requests" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Ajánlatkérések
          </nuxt-link>
          <nuxt-link to="/pending-offers" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Kiküldött ajánlatok
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-list v-if="getDismantledCar" class="light" two-line>
        <v-list-item v-if="getDismantledCar.make">
          <v-list-item-content>
            <v-list-item-title class="primary--text font-weight-bold">{{ getDismantledCar.make }}, {{ getDismantledCar.model }}</v-list-item-title>
            <v-list-item-subtitle class="primary--text font-weight-bold">{{ getDismantledCar.platform }}, {{ getDismantledCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-flex justify-end>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon @click="changeDismantledCar" v-on="on">
                    <v-icon color="primary">
                      mdi-find-replace
                    </v-icon>
                  </v-btn>
                </template>
                <span>Új autó kiválasztása</span>
              </v-tooltip>
            </v-flex>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <ProgressList
        v-if="getDismantledCar && filter === 'progress'"
        :offer-requests="offerRequestsByDismantledCarAndFilter(getDismantledCar.carCode, filter)"
        @change="changeStatus"
      />
      <v-card-text v-else>
        <p>A listád üres.</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import ProgressList from '~/components/supply/ProgressList.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    ProgressList
  },
  data () {
    return {
      pageTitle: 'Kiküldött ajánlatok',
      instruction: '...!',
      howToText: [
        '...'
      ],
      filter: 'progress'
    }
  },
  computed: {
    ...mapGetters('dismantledCars', [
      'getDismantledCars',
      'getDismantledCar'
    ]),
    ...mapGetters('offerRequests', [
      'getOfferRequests'
    ]),
    offerRequestsByDismantledCarAndFilter () {
      if (this.getOfferRequests) {
        return (carCode, status) => this.getOfferRequests.filter(offerRequest => {
          return (
            offerRequest.carCode === carCode
            && offerRequest.status === status
          )
        })
      }
      return () => [];
    }
  },
  async mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle)
    await this.$store.dispatch('dismantledCars/fetchDismantledCars')
    await this.$store.dispatch('offerRequests/fetchOfferRequests')
    if (this.getDismantledCars.length > 0) {
      const dismantledCar = this.getDismantledCars.find(dismantledCar => Number(dismantledCar.id) === Number(this.$router.currentRoute.params.dismantledCarsId))
      if (dismantledCar) {
        this.$store.commit('dismantledCars/setDismantledCar', dismantledCar)
      } else {
        this.$store.dispatch('snackbar/showSnackbar', {
          text: 'Az autót nem sikerült kiválasztani. Kérjük, próbld újra!',
          type: 'error'
        })
        this.$router.push('/pending-offers')
      }
    }
  },
  methods: {
    changeDismantledCar () {
      this.$store.commit('dismantledCars/setDismantledCar', {})
      this.$store.commit('offerRequests/setOfferRequests', [])
      this.$router.push('/pending-offers')
    },
    changeStatus (partSearchesId, status) {
      this.$axios.post(
        process.env.API_ENDPOINT + '/set-offer-requests-status',
        { part_searches_id: partSearchesId, status }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresés statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('offerRequests/fetchOfferRequests')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresés statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }

})
</script>

<style scoped lang="sass">
</style>
