<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/offer-requests" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Ajánlatkérések
          </nuxt-link>
          <nuxt-link to="/pending-offers" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Kiküldött ajánlatok
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-list class="light" two-line>
        <v-list-item v-if="getDismantledCar">
          <v-list-item-content>
            <v-list-item-title class="primary--text font-weight-bold">{{ getDismantledCar.make }}, {{ getDismantledCar.model }}</v-list-item-title>
            <v-list-item-subtitle class="primary--text font-weight-bold">{{ getDismantledCar.platform }}, {{ getDismantledCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="getOfferRequest.partSearch">
          <v-list-item-content>
            <v-list-item-subtitle>{{ getOfferRequest.partSearch.createdAt }}</v-list-item-subtitle>
            <v-list-item-title>{{ getOfferRequest.partSearch.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ getOfferRequest.partSearch.description }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field v-model="price" :rules="priceRules" label="Ár (Ft)" filled dense />
          <v-textarea v-model="details" :rules="detailsRules" label="Leírás" filled />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn color="gray" small text @click="$router.push('/offer-requests')">Mégse</v-btn>
        <v-spacer />
        <v-btn
          :loading="loading"
          :disabled="loading"
          class="submit-button"
          color="primary"
          small
          text
          outlined
          @click="submit"
        >Ajánlat küldése</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from "~/components/CardHowTo.vue";

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo
  },
  data () {
    return {
      pageTitle: 'Ajánlat küldése',
      instruction: '...!',
      howToText: [
        '...'
      ],
      valid: false,
      loading: false,
      price: '',
      details: '',
      images: '',
      priceRules: [
        v => !!v || 'Az ár megadása kötelező!'
      ],
      detailsRules: [
        v => !!v || 'Az alkatrészről kötelező írni pár szót!'
      ]
    }
  },
  computed: {
    ...mapGetters('dismantledCars', [
      'getDismantledCars',
      'getDismantledCar'
    ]),
    ...mapGetters('offerRequests', [
      'getOfferRequest',
      'getOfferRequests'
    ]),
  },
  async mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle)
    await this.$store.dispatch('dismantledCars/fetchDismantledCars')
    await this.$store.dispatch('offerRequests/fetchOfferRequests')
    if (this.getOfferRequests.length > 0) {
      const offerRequest = this.getOfferRequests.find(offerRequest => Number(offerRequest.partSearchesId) === Number(this.$router.currentRoute.params.partSearchesId))
      if (offerRequest) {
        this.$store.commit('offerRequests/setOfferRequest', offerRequest)
        if (this.getDismantledCars.length > 0 && offerRequest) {
          const dismantledCar = this.getDismantledCars.find(dismantledCar => Number(dismantledCar.id) === Number(offerRequest.dismantledCarsId))
          if (dismantledCar) {
            this.$store.commit('dismantledCars/setDismantledCar', dismantledCar)
          } else {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az autót nem sikerült kiválasztani. Kérjük, próbld újra!',
              type: 'error'
            })
            this.$router.push('/offer-requests')
          }
        }
      } else {
        this.$store.dispatch('snackbar/showSnackbar', {
          text: 'Az ajánlatkérést nem sikerült kiválasztani. Kérjük, próbld újra!',
          type: 'error'
        })
        this.$router.push('/offer-requests')
      }
    }
  },
  methods: {
    submit () {
      this.loading = true;
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.$axios.post(process.env.API_ENDPOINT + '/send-offer', {
          part_searches_id: this.getOfferRequest.partSearch.id,
          price: this.price,
          details: this.details,
          images: ''
        }).then(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresésedet rögzítettük.',
            type: 'success'
          });
          this.loading = false;
          this.$router.push('/pending-offers')
        })
          .catch(() => {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresésed nem sikerült rögzíteni.',
              type: 'error'
            });
            this.loading = false
          })
      }
    }
  }
})
</script>

<style scoped lang="sass">
</style>
