<template>
  <v-card-text>
    <v-row>
      <v-col cols="10">
        <p class="mb-0">{{ instruction }}</p>
      </v-col>
      <v-col cols="2" class="text-right">
        <HowToTooltip :text="howToText" />
      </v-col>
    </v-row>
  </v-card-text>
</template>

<script lang="ts">
import Vue from 'vue'

import HowToTooltip from '~/components/HowToTooltip.vue'

export default Vue.extend({
  name: 'CardHowTo',
  components: {
    HowToTooltip
  },
  props: {
    howToText: {
      default: [],
      type: Array
    },
    instruction: {
      default: '',
      type: String
    }
  }
})
</script>

<style scoped>

</style>
