<template>
  <div>
    <template v-if="isLoggedIn && userIsFetched">
      <v-btn
        v-if="getUserType === 'offer'"
        to="/add-dismantled-car"
        class="d-none d-md-inline-flex"
        text
        small
        color="primary"
      >
        Bontott autó felvétele
      </v-btn>
      <v-btn
        v-if="getUserType === 'offer'"
        to="/offer-requests"
        class="d-none d-md-inline-flex"
        text
        small
        color="primary"
      >
        Ajánlat kérések
      </v-btn>
      <v-btn
        v-if="getUserType === 'search'"
        to="/add-part-search"
        class="d-none d-md-inline-flex"
        text
        small
        color="primary"
      >
        Alkatrészkeresés indítása
      </v-btn>
      <v-btn
        v-if="getUserType === 'search'"
        to="/offers"
        class="d-none d-md-inline-flex"
        text
        small
        color="primary"
      >
        Ajánlatok
      </v-btn>
    </template>
    <TopAppBarLeftIcons />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import TopAppBarLeftIcons from '~/components/TopAppBarLeftIcons.vue'

export default Vue.extend({
  name: 'DefaultTopAppBar',
  props: {
    color: String
  },
  components: {
    TopAppBarLeftIcons
  },
  computed: {
    ...mapGetters('auth', [
      'isLoggedIn'
    ]),
    ...mapGetters('user', [
      'getUserType',
      'userIsFetched'
    ])
  }
})
</script>

<style scoped>

</style>
