<template>
  <v-footer class="grey darken-4">
    <v-container>
      <v-row>
        <v-col order="2" order-sm="1" cols="12" sm="5" class="text-center text-sm-left">
          <span class="primary--text caption">Copyright {{ new Date().getFullYear() }} <v-icon class="primary--text caption">mdi-copyright</v-icon> Bontosok.com</span>
        </v-col>
        <v-col order="1" order-sm="2" cols="12" sm="7" class="text-center text-sm-right">
          <TermsLink class="caption" />
          <span class="pl-2 pr-2">|</span>
          <nuxt-link class="primary--text caption" to="/cookie">Cookie tájékoztató</nuxt-link>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script lang="ts">
import Vue from 'vue'

import TermsLink from '~/components/TermsLink.vue'

export default Vue.extend({
  name: 'Footer',
  components: {
    TermsLink
  }
})
</script>

<style scoped lang="sass">

</style>
