<template>
  <v-container>
    <v-form
      ref="imageUploaderForm"
      v-model="valid"
      lazy-validation
    >
      <v-file-input
        v-model="imageUploadValue"
        dense
        filled
        show-size
        small-chips
        counter
        multiple
        prepend-icon="mdi-camera"
        class="mr-1"
        accept="image/png, image/jpeg"
        :rules="[fileUploadMaxItemRule]"
        label="Kép hozzáadása"
        @change="onChangeFileUpload"
      />
    </v-form>
    <v-row v-if="imageUrls.length">
      <v-col v-for="(fileUrl, index) in imageUrls" :key="index" cols="6" sm="3">
        <v-card class="image" flat tile>
          <v-img :src="fileUrl.thumbnail" />
          <v-btn class="delete-button" icon x-small @click="removeImage(index)">
            <v-icon color="error">
              mdi-delete
            </v-icon>
          </v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

export interface File {
  filename: String,
  original: String,
  thumbnail: String
}

export default Vue.extend({
  name: 'ImageUploader',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      valid: false,
      imageUploadValue: null,
      imageUrls: [],
      maxImageUpload: 4
    }
  },
  watch: {
    imageUrls (newImageUrls) {
      this.maxImageUpload = 4 - newImageUrls.length;
      this.setValue()
    }
  },
  mounted() {
    console.log('imageUploaded: prop:', this.value)
  },
  methods: {
    fileUploadMaxItemRule (value) {
      return !value || !(this.maxImageUpload < value.length) || 'Maximum ' + this.maxImageUpload + ' fájlt tölthetsz még fel.'
    },
    onChangeFileUpload (files) {
      const form: any = this.$refs.imageUploaderForm;
      if (files && form.validate()) {
        const formData = new FormData();
        files.forEach((file) => {
          formData.append('files[]', file)
        });
        this.$axios.post(process.env.API_ENDPOINT + '/image-upload',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
        ).then((response) => {
          if (response.data.status === 'success' && response.data.tempImageUrls.length) {
            if (this.imageUrls.length === 0) {
              this.imageUrls = response.data.tempImageUrls
            } else {
              let imageUrls = [];
              imageUrls = response.data.tempImageUrls;
              imageUrls.forEach((fileUrl) => { this.imageUrls.push(fileUrl) })
            }
            this.imageUploadValue = null
          }
        })
          .catch((error) => {
            if (error) {
              this.$store.dispatch('snackbar/showSnackbar', {
                text: 'A kép hozzáadása nem sikerült. Próbáld meg újra!',
                type: 'error'
              })
            }
          })
      }
    },
    setValue () {
      const images = this.imageUrls.map((image: File) => {
        return image.filename
      }).join();
      console.log(images)
      this.$emit('input', images)
    },
    removeImage (imageIndex) {
      this.imageUrls.splice(imageIndex, 1)
    }
  }
})
</script>

<style lang="sass" scoped>
.image
  position: relative
  border: 1px solid #e4e4e4
  .delete-button
    position: absolute
    top: 5px
    right: 5px
</style>
