<template>
  <div>
    <v-btn
      :icon="type === 'icon'"
      :text="type === 'text'"
      color="primary"
      @click="logout"
    >
      <v-icon>mdi-exit-run</v-icon>
      {{ buttonText }}
    </v-btn>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

const Cookies = process.client ? require('js-cookie') : undefined;

export default Vue.extend({
  name: 'LogoutButton',
  props: {
    type: {
      type: String,
      default: 'icon'
    },
    iconName: {
      type: String,
      default: 'mdi-exit-run'
    },
    buttonText: {
      type: String,
      default: ''
    }
  },
  methods: {
    logout () {
      this.$axios.get(process.env.API_ENDPOINT + '/logout')
        .then((response) => {
          if (response.status === 200) {
            Cookies.remove('token');
            this.$axios.setToken('', 'Bearer');
            this.$store.commit('auth/logOut', false);
            this.$store.commit('user/setUser', {});
            this.$router.push('/')
          }
        })
        .catch(() => {
          //
        })
    }
  }
})
</script>
