<template>
  <div>
    <v-list v-if="getMyCars" two-line>
      <template v-for="(myCar, index) in getMyCars">
        <v-divider :key="index" />
        <v-list-item
          :key="myCar.title"
          :class="myCar.status"
          @click="selectMyCar(myCar)"
        >
          <v-list-item-content>
            <v-list-item-title>{{ myCar.make }}, {{ myCar.model }}</v-list-item-title>
            <v-list-item-subtitle>{{ myCar.platform }}, {{ myCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon @click="deleteMyCar(myCar.id)" v-on="on">
                  <v-icon color="grey lighten-1">
                    mdi-delete
                  </v-icon>
                </v-btn>
              </template>
              <span>Törlés</span>
            </v-tooltip>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <v-card-text v-else>
      <p>A listád üres. Még nem vettél fel egyetlen autót sem.</p>
    </v-card-text>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'MyCarsList',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      lockRowClick: false
    }
  },
  computed: {
    ...mapGetters('myCars', [
      'getMyCars'
    ])
  },
  mounted (): void {
    this.$store.dispatch('myCars/fetchMyCars')
  },
  methods: {
    selectMyCar (payload) {
      if (!this.lockRowClick) {
        this.$emit('input', payload.id);
        this.$store.commit('myCars/setMyCar', payload)
        this.$emit('select')
      }
      this.lockRowClick = false
    },
    deleteMyCar (id) {
      this.lockRowClick = true;
      this.$axios.delete(
        process.env.API_ENDPOINT + '/delete-my-car',
        { params: { id } }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az autót sikeresen törölted a autólistádról.',
              type: 'success'
            });
            this.$store.dispatch('myCars/fetchMyCars')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az autót nem sikerült törölni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style lang="sass" scoped>

</style>
