<template>
  <v-dialog
    v-model="dialog"
    width="400"
    min-width="307"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        v-on="on"
      >
        <v-icon color="primary">
          mdi-information
        </v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-subheader class="ml-2">
        <span class="font-weight-medium">{{ dismantledCar.make }} {{ dismantledCar.model }}&nbsp;</span>
        <span class="caption"> {{ dismantledCar.platform }} {{ dismantledCar.year }}</span>
      </v-subheader>
      <v-card-title
        class="headline pt-0"
      >
        {{ partSearch.title }}
      </v-card-title>
      <v-card-text>
        {{ partSearch.description }}
      </v-card-text>
      <v-card-text>
        <Thumbnails :images="partSearch.images" />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="default"
          text
          @click="dialog = false"
        >
          Bezár
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'

import Thumbnails from '~/components/Thumbnails.vue'

export default Vue.extend({
  name: 'PartSearchDetails',
  components: {
    Thumbnails
  },
  props: {
    partSearch: {
      type: Object,
      default: () => {}
    },
    dismantledCar: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      dialog: false
    }
  }
})
</script>

<style scoped>

</style>
