<template>
  <div>
    <v-card-text>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="title"
          :rules="titleRules"
          label="Alkatrész neve"
          filled
          dense
        />
        <v-textarea
          v-model="description"
          :rules="descriptionRules"
          label="Alkatrész részletei"
          filled
        />
      </v-form>
      <ImageUploader v-model="images" />
    </v-card-text>
    <v-card-actions>
      <v-btn
        color="gray"
        small
        text
        @click="$emit('cancel')"
      >
        Mégse
      </v-btn>
      <v-spacer />
      <v-btn
        :loading="loading"
        :disabled="loading"
        class="submit-button"
        color="primary"
        small
        text
        outlined
        @click="submit"
      >
        Alkatrészkeresése feladása
      </v-btn>
    </v-card-actions>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import ImageUploader from '~/components/ImageUploader.vue'

export default Vue.extend({
  name: 'PartSearchForm',
  components: {
    ImageUploader
  },
  data () {
    return {
      valid: false,
      loading: false,
      titleRules: [
        v => !!v || 'Az alkatrész elnevezése kötelező!'
      ],
      descriptionRules: [
        v => !!v || 'Az alkatrészről kötelező írni pár szót!'
      ]
    }
  },
  computed: {
    title: {
      set (val: string) {
        this.$store.commit('partSearches/setTitle', val)
      },
      get (): string {
        return this.$store.state.partSearches.partSearch.title
      }
    },
    description: {
      set (val) {
        this.$store.commit('partSearches/setDescription', val)
      },
      get () {
        return this.$store.state.partSearches.partSearch.description
      }
    },
    images: {
      set (val) {
        this.$store.commit('partSearches/setImages', val)
      },
      get () {
        console.log(this.$store.state.partSearches.partSearch.images)
        return '123' // this.$store.state.partSearches.partSearch.images
      }
    }
  },
  methods: {
    submit () {
      this.loading = true;
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.$emit('submit')
      }
    }
  }
})
</script>

<style scoped>

</style>
