<template>
  <div>
    <v-card-text>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-textarea
          v-model="details"
          label="Részletek"
          filled
        />
        <v-text-field
          v-model="price"
          :rules="priceRules"
          label="Ár(Ft)"
          filled
          dense
        />
      </v-form>
<!--      <ImageUploader v-model="uploadedImages" />-->
    </v-card-text>
    <v-card-actions>
      <v-btn
        color="gray"
        small
        text
        @click="$emit('cancel')"
      >
        Mégse
      </v-btn>
      <v-spacer />
      <v-btn
        :loading="loading"
        :disabled="loading"
        class="submit-button"
        color="primary"
        small
        text
        outlined
        @click="submit"
      >
        Ajánlat elküldése
      </v-btn>
    </v-card-actions>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

// import ImageUploader from './ImageUploader.vue'

export default Vue.extend({
  name: 'SendOfferForm',
  // components: {
  //   ImageUploader
  // },
  data () {
    return {
      loading: false,
      valid: false,
      priceRules: [
        v => !!v || 'Az ajánlathoz ár megadása kötelező!'
      ]
    }
  },
  methods: {
    submit () {
      this.loading = true;
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.$emit('submit')
      }
    }
  }
})
</script>

<style lang="sass" scoped>
.image-container
  height: 100%
</style>
