<template>
  <div class="text-center">
    <v-snackbar
      v-model="snackbar"
      :timeout="getTimeout"
      :color="getType"
      :top="true"
    >
      {{ getText }}
      <v-btn
        text
        @click="hideSnackbar"
      >
        {{ getButtonText }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'Snackbar',
  computed: {
    ...mapGetters('snackbar', [
      'getSnackbar',
      'getType',
      'getText',
      'getTimeout',
      'getButtonText'
    ]),
    snackbar: {
      set (val) {
        if (!val) {
          this.$store.dispatch('snackbar/hideSnackbar')
        }
      },
      get () {
        return this.$store.state.snackbar.snackbar
      }
    }
  },
  methods: {
    hideSnackbar () {
      this.$store.dispatch('snackbar/hideSnackbar')
    }
  }
})
</script>
