<template>
  <span class="primary--text link--text" @click="openTermsPdf">Adatvédelmi tájékoztató</span>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'TermsLink',
  methods: {
    openTermsPdf () {
      window.open('/static/documents/bontosok_adatvedelmi_tajekoztato_v1.0.pdf', '_blank')}
  }
})
</script>

<style scoped>

</style>
