<template>
  <v-container v-if="images.length">
    <v-card class="main-image" flat tile>
      <v-img :src="images[activeImageIndex]['default-600x450']" max-width="600px" max-height="450px" />
    </v-card>
    <v-row>
      <v-col
        v-for="(item, index) in [0,1,3,4]"
        :key="index"
        col="3"
      >
        <v-card
          v-if="images[index]"
          class="image mb-1"
          :class="[index === activeImageIndex ? 'active' : '']"
          flat
          tile
        >
          <v-img :src="images[index]['thumbnail-250x250']" max-height="60px" max-width="60px" @click="activateImage(index)" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Thumbnails',
  props: {
    images: {
      type: Array,
      default: () => { return [] }
    }
  },
  data () {
    return {
      activeImageIndex: 0
    }
  },
  methods: {
    activateImage (payload) {
      this.activeImageIndex = payload
    }
  }
})
</script>

<style lang="sass" scoped>
.main-image
  border: 1px solid #8e8e8e
  border-radius: 3px
.image
  .v-image
    border: 1px solid #8e8e8e
    cursor: pointer
    border-radius: 3px !important
.image.active
  .v-image
    border: 1px solid #38D173
</style>
