.full--height
  height: 100% !important

.max-500px--height
  max-height: 500px !important

.link--text
  text-decoration: underline !important
  cursor: pointer !important

.button--wrap
  height: auto !important
  padding: 5px !important
  .v-btn__content
    white-space: normal !important
    flex: 1 1 auto !important
