.btn-xxl .v-btn__content
  font-size: 24px
  font-weight: 400
  white-space: normal
  flex: 1 1 auto !important

.v-btn:not(.v-btn--round).v-size--x-large
  height: auto !important
  padding: 15px !important
