<template>
  <v-app>
    <v-content>
      <nuxt />
      <Footer></Footer>
    </v-content>
    <CookieConsentPopup />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

import CookieConsentPopup from '~/components/CookieConsentPopup.vue'
import Footer from '~/components/Footer.vue'

export default Vue.extend({
  components: {
    CookieConsentPopup,
    Footer
  }
})
</script>
