<template>
  <div>
    <div class="top primary">
      <v-container>
        <FrontendTopAppBar color="secondary" />
        <v-row class="pt-5 pb-5">
          <v-col cols="12" sm="6">
            <h1 class="display-1 text-left white--text mt-3 mb-3">
              Cookie tájékoztató a weboldal működése kapcsán
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-container class="pt-10 pb-10">
      <p>A Bontosok.com számára kiemelten fontos, hogy szolgáltatásai nyújtása során az ügyfelek által elérhető webes felületek működése megfelelően kényelmes és biztonságos legyen, egyes estekben a felhasználó által végzett műveletek megszakíthatóak és később folytathatóak legyenek, ezért a Bontosok.com egyes oldalain cookie-kat (sütiket) alkalmaz.</p>
      <p>A sütiket (rövid adatállományokat) a weboldal helyezi el a látogató számítógépén a böngészőprogram által biztosított helyekre, melyeket a weboldal később módosíthat, törölhet, vagy újakat hozhat létre.</p>
      <p>A sütik egy része az oldal első meglátogatásakor jön létre és tárolódik, ezt követően tartósan a számítógépen marad (statikus cookie). A sütik másik része ideiglenes (munkamenet vagy session cookie), a felhasználói munkamenet végéig tárolódik, és a böngésző bezárásával automatikusan törlődik. Az ideiglenes sütiket arra használjuk, hogy a felhasználóknak az oldal böngészése során ne kelljen újra és újra megadniuk bizonyos adatokat. Ezek a sütik az oldal elhagyása után vagy a böngésző bezárásakor lejárnak és törlődnek.</p>
      <p>Az érvényes adatvédelmi előírások alapján a felhasználó által indított tranzakciók és műveletek állapotát tároló sütiket (az adott szolgáltatás működőképességének fenntartásához nélkülözhetetlen eseteket leszámítva) csak a felhasználó előzetes hozzájárulásával lehet a számítógépen elhelyezni. Az ezzel kapcsolatos tájékoztatást és a felhasználó hozzájárulásának fogadását a weboldal alsó sávjában megjelenő cookie ablak kezeli.</p>
      <p>Néhány fajta süti elhelyezéséhez nem szükséges előzetes hozzájárulást kérni, ezeket rendszerünk automatikusan kezeli.</p>
      <p><strong>A honlap személyes adatkezeléshez kapcsolódó funkcióinak célja</strong> a weboldal működésének elősegítése, a felhasználói élmény fokozása.</p>
      <p><strong>Az adatkezelés jogalapja:</strong> szerződés teljesítése és a látogató önkéntes hozzájárulása.</p>
      <p><strong>Kezelt adatok köre:</strong> Az alábbi süti típusok:</p>
      <ul>
        <li>First Party cookiek: Ezek azok a sütik, amelyek elengedhetetlenül fontosak az oldalunk működéséért.</li>
        <li>Third Party cookiek: Ezeknek a sütiknek a segítségével követjük nyomon, hogy milyen weboldalról, vagy milyen keresőszavakkal jöttél a bontosok.com oldalra, illetve információkat gyűjtünk arról, hogy hogyan használod a weboldalunkat.</li>
        <li>Közösségi (social media) cookiek: Ezekkel a sütikkel egyéb közösségi oldalakon tudod megosztani a különböző bontosok.com tartalmakat.</li>
        <li>Működést támogató, vagy más néven munkamenet cookiek: Ezek csak ideiglenes sütik, amelyek csak a látogatásod idejére mentődnek le a számítógépedre.</li>
      </ul>
      <br>
      <p><strong>A sütik tárolásának időtartama:</strong> A statikus sütiket a felhasználó az általa használt böngésző gyorsítótárának törlésével letörölheti, a munkamenet sütik automatikusan törlődnek a böngészőablak bezárásakor.</p>
      <p><strong>A személyes adatok címzettjei, illetve a címzettek kategóriái:</strong> a sütik által hordozott információkat külső félnek nem adjuk ki, azokhoz a Bontosok.com weboldala és informatikai feladatokat végző munkatársai férhetnek hozzá.</p>
      <p>Az első alkalommal, amikor meglátogatod oldalunkat, egy tájékoztató sávban figyelmeztetjük arra, hogy cookie-kat használunk. A Szolgáltatás használatának folytatásával hozzájárulását adod ezek használatához.</p>
      <p><strong>A sütik beállításának ellenőrzése, a sütik letiltása</strong></p>
      <p>Lehetőséged van a böngészőben is kezelni és tiltani a sütiket. Kérjük vedd figyelembe, hogy ha törlöd a Bontosok.com sütijeit, előfordulhat, hogy korlátozottá válik a hozzáférésed a Bontosok.com bizonyos funkcióihoz vagy aloldalaihoz./p></p>
      <p>Az alábbiakban részletesen megtalálod a sütik beállítási lehetőségeit az egyes böngészőkben.</p>
      <ul>
        <li><a href="https://support.google.com/chrome/answer/95647?hl=hu" target="_blank">Chrome</a></li>
        <li><a href="https://support.mozilla.org/hu/kb/sutik-informacio-amelyet-weboldalak-tarolnak-szami" target="_blank">Firefox</a></li>
        <li><a href="https://support.apple.com/kb/ph21411?locale=hu_HU" target="_blank">Safari</a></li>
        <li><a href="https://privacy.microsoft.com/hu-hu/windows-10-microsoft-edge-and-privacy" target="_blank">MicrosoftEdge</a></li>
        <li><a href="https://support.microsoft.com/hu-hu/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">InternetExplorer</a></li>
      </ul>
      <br>
      <p>Amennyiben nem akarsz érdeklődés alapú hirdetéseket látni, ezeket az alábbi oldalakon letilthatod: itt vagy itt. A leiratkozás nem minden esetben teljes, a hálózat, melyről leiratkoztál, nem fog a felhasználónak az online preferenciáira és böngészési előzményeire alapuló hirdetéseket küldeni.</p>
    </v-container>
    <v-container class="text-center">
      <nuxt-link to="/">Vissza a főoldalra</nuxt-link>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import FrontendTopAppBar from '~/components/FrontendTopAppBar.vue'

export default Vue.extend({
  layout: 'frontend',
  components: {
    FrontendTopAppBar
  }
})
</script>

<style lang="sass" scoped>
.container
  max-width: 960px
</style>
