<template>
  <div>
    <div class="top">
      <v-container>
        <FrontendTopAppBar :back="false" color="primary" />
        <v-row class="pa-5" justify="center">
          <v-col cols="12" md="10" lg="8">
            <h1 class="text-center display-2 white--text font-weight-bold mt-7 mb-0 pt-md-10">
              Bontott autóalkatrészek egyszerű és időtakarékos adás-vétele
            </h1>
          </v-col>
        </v-row>
        <v-row class="mt-6 mb-10" justify="center">
          <v-col cols="12" lg="5" class="text-center">
            <v-btn to="/registration?type=offer"
              depressed
              x-large
              color="primary"
              class="btn-xxl body-1 font-weight-medium pt-3 pb-3"
            >
              Regisztrálok bontósként
            </v-btn>
          </v-col>
          <v-col cols="12" lg="5" class="text-center">
            <v-btn to="/registration?type=search"
              depressed
              x-large
              color="primary"
              class="btn-xxl body-1 font-weight-medium pt-3 pb-3"
            >
              Regisztrálok alkatrész keresőként
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div>
      <v-row class="pa-5" justify="center">
        <v-col cols="12" md="10" lg="8">
          <p class="connection__text text-center headline mb-10 mt-10">
            Segítünk összekötni a bontósokat és az alkatrészkeresőket,
            hogy a keresés és eladás folyamata mindenki számára könnyebb és átláthatóbb legyen.
          </p>
        </v-col>
      </v-row>
    </div>
    <div class="primary">
      <v-container fluid class="pt-5 pb-10">
        <v-row>
          <v-col cols="12" sm="7" lg="4" class="mx-auto">
            <h2 class="display-1 white--text text-center mb-3 mt-7">Mit csinálunk?</h2>
            <p class="title white--text font-weight-light text-center">
              Bontott autóalkatrészek adás-vételét
              tesszük lehetővé olyan megoldásokkal,
              amelyek mindkét fél igényeit kiszolgálják.
            </p>
          </v-col>
          <v-col cols="12" sm="7" lg="4" class="mx-auto">
            <h2 class="display-1 white--text text-center mb-3 mt-7">Miért csináljuk?</h2>
            <p class="title font-weight-light white--text text-center">
              Célunk, hogy úgy találd meg vagy add el
              alkatrészeidet, hogy ezzel a lehető legtöbb időt,
              energiát és pénzt spóroljuk meg neked.
            </p>
          </v-col>
          <v-col cols="12" sm="7" lg="4" class="mx-auto">
            <h2 class="display-1 white--text text-center mb-3 mt-7">Hogyan csináljuk?</h2>
            <p class="title font-weight-light white--text text-center">
              Létrehoztunk egy könnyen kezelhető és
              logikus felületet, amely az első lépéstől az utolsóig
              segít téged az adás-vétel folyamatában.
            </p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="text-center">
      <v-row>
        <v-col cols="12" class="pb-0">
          <v-row>
            <v-col cols="12" sm="10" md="7" class="mx-auto pa-10">
              <div class="mt-12 mb-12">
                <h2 class="display-1 font-weight-bold mt-12 mb-7">
                  Vannak eladó alkatrészeid?
                </h2>
                <p class="title mb-10">
                  Spórold meg magadnak a klasszikus hirdetések feladásával
                  és az érdeklődők kezelésével töltendő időt!
                  Nálunk egy egyszerű űrlap segítségével feltöltheted autód típusát
                  és legfontosabb adatait, majd rendszerünk kiválogatja számodra
                  a releváns alkatrészkereséseket!
                </p>
                <v-btn
                  to="/registration?type=offer"
                  depressed
                  x-large
                  outlined
                  color="primary"
                  class="btn-xxl mb-5"
                >
                  Regisztrálok és és eladom az alkatrészeim
                </v-btn>
              </div>
            </v-col>
            <v-col cols="12" class="pa-0">
              <v-img :aspect-ratio="16/9"
                 src="/static/images/bontosok-com-landing-read-more-car1.jpg"
                 class="mx-auto max-500px--height"
              >
                <v-flex justify-center align-center class="d-flex full--height">
                  <v-col col="12" sm="7" class="pa-10">
                    <h2 class="display-1 white--text mb-10">
                      Szeretnél többet tudni arról, miért jó, ha itt hirdeted alkatrészeid?
                    </h2>
                    <v-btn
                      to="/offer"
                      depressed
                      x-large
                      color="primary"
                      class="btn-xxl"
                    >
                      Tovább olvasok
                    </v-btn>
                  </v-col>
                </v-flex>
              </v-img>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" class="pb-0">
          <v-row>
            <v-col cols="12" sm="10" md="7" class="mx-auto pa-10">
              <div class="mt-12 mb-12">
                <h2 class="display-1 font-weight-bold mt-12 mb-7">
                  Alkatrészeket keresel?
                </h2>
                <p class="title mb-10">
                  Ne fáradj többé a pontatlan és hiányos hirdetések böngészésével csak azért,
                  hogy a sokadik telefonbeszélgetés után talán megtaláld az alkatrészt,
                  amelyre szükséged van! Itt egyszerűen kiválasztod, milyen autóhoz keresel alkatrészt,
                  feltöltöd hozzá a keresett alkatrészt, és ezután már csak a bontósok ajánlataira kell várnod!
                </p>
                <v-btn
                  to="/registration?type=look-for"
                  depressed
                  x-large
                  outlined
                  color="primary"
                  class="btn-xxl mb-5"
                >
                  Regisztrálok és megtalálom az alkatrészeket
                </v-btn>
              </div>
            </v-col>
            <v-col cols="12" class="pa-0">
              <v-img :aspect-ratio="16/9"
                 src="/static/images/bontosok-com-landing-read-more-car2.jpg"
                 class="mx-auto max-500px--height"
              >
                <v-flex justify-center align-center class="d-flex full--height">
                  <v-col col="12" sm="7" class="pa-10">
                    <h2 class="display-1 white--text mb-10">
                      Szeretnél többet tudni arról, miért jó, ha itt keresel alkatrészeket?
                    </h2>
                    <v-btn
                      to="/look-for"
                      depressed
                      x-large
                      color="primary"
                      class="btn-xxl"
                    >
                      Tovább olvasok
                    </v-btn>
                  </v-col>
                </v-flex>
              </v-img>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import FrontendTopAppBar from '~/components/FrontendTopAppBar.vue'
import CookieConsentPopup from '~/components/CookieConsentPopup.vue'

export default Vue.extend({
  layout: 'frontend',
  components: {
    FrontendTopAppBar,
    CookieConsentPopup
  }
})
</script>

<style lang="sass" scoped>
.top
  background: transparent url("/static/images/bontosok-com-landing.jpg") no-repeat 0 0
</style>
