<template>
  <div>
    <div class="top pb-10">
      <v-container>
        <FrontendTopAppBar />
        <v-row class="pa-5 pt-10" justify="center">
          <v-col cols="12" md="10" lg="8" class="pt-10">
            <h1 class="top__title display-2 text-center white--text font-weight-bold">
              Milyen előnyökkel jár számodra, ha itt keresel alkatrészeket?
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="secondary">
      <v-container fluid class="pt-10 pb-10">
        <v-row>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Időmegtakarítás
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Csak számodra releváns ajánlatok között kell válogatnod, ezzel időt spórolsz.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Pénzmegtakarítás
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              A beérkező ajánlatok tartalmazzák az árat is, így kiválaszthatod a számodra legjobb ár-érték arányút.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Releváns ajánlatok
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Rendszerünk elvégzi helyetted a munkát és kiválogatja számodra a releváns alkatrészajánlatokat.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Kevesebb kommunikáció
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Mivel csak releváns árat, leírást, esetleg képet tartalmazó alkatrészajánlatokat kapsz, kevesebbet kell egyeztetned az érdeklődőkkel.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Egyszerűen kezelhető felület
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Oldalunk könnyen kezelhető, áttekinthető és csak a számodra hasznos funciókat tartalmazza
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Több elégedett vásárlás
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Mivel nálunk a bontósoktól minden információt megkapsz a vásárlás előtt, elégedettebb leszel új alkatrészeiddel.
            </p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="primary">
      <v-container fluid class="pt-10 pb-10">
        <h2 class="white--text display-2 font-weight-bold text-center pa-10">Milyen lépésekből áll a folyamat?</h2>
        <v-row>
          <v-col cols="12" sm="9" mc="7" lg="4" class="mx-sm-auto">
            <h3 class="headline white--text text-center mb-3">
              1. Add meg, hogy milyen autóhoz, milyen alkatrészt keresel!
            </h3>
            <p class="subtitle font-weight-light white--text text-center">
              Esetleg csatolhatsz hozzá képet és megadhatsz egy rövid leírást is.
            </p>
          </v-col>
          <v-col cols="12" sm="9" mc="7" lg="4" class="mx-sm-auto">
            <h3 class="headline white--text text-center mb-3">
              2. Válogass a beérkező ajánlatok között!
            </h3>
            <p class="subtitle font-weight-light white--text text-center">
              Kiválaszthatod a releváns ajánlatok közül a számodra legmegfelelőbbet.
            </p>
          </v-col>
          <v-col cols="12" sm="9" mc="7" lg="4" class="mx-sm-auto">
            <h3 class="headline white--text text-center mb-3">
              3. Vedd fel a kapcsolatot!
            </h3>
            <p class="subtitle font-weight-light white--text text-center">
              Az adás-vétel részleteiről egyeztethetsz az ajánlat küldőjével.
            </p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div>
      <v-container class="pt-5 pb-10 text-center">
        <v-btn
          to="/registration?type=look-for"
          depressed
          x-large
          color="primary"
          class="btn-xxl mt-10 mb-10"
        >
          Regisztrálok és megtalálom az alkatrészeket
        </v-btn>
        <br>
        <v-btn
          to="/offer"
          depressed
          small
          outlined
          color="primary"
          class="mb-5 button--wrap"
        >
          Kíváncsi vagyok miért jó a bontósnak itt hirdetni
        </v-btn>
        <br>
        <nuxt-link class="body-2" to="/">Vissza a főoldalra</nuxt-link>
      </v-container>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import FrontendTopAppBar from '~/components/FrontendTopAppBar.vue'

export default Vue.extend({
  layout: 'frontend',
  components: {
    FrontendTopAppBar
  }
})
</script>

<style scoped lang="sass">
.top
  background: transparent url("/static/images/bontosok-com-look-for.jpg") no-repeat 0 0
  background-size: cover
  min-height: 350px
</style>
