<template>
  <div>
    <div class="top pb-10">
      <v-container>
        <FrontendTopAppBar />
        <v-row class="pa-5 pt-10" justify="center">
          <v-col cols="12" md="10" lg="8" class="pt-10">
            <h1 class="top__title display-2 text-center white--text font-weight-bold">
              Milyen előnyökkel jár számodra, ha itt hirdeted alkatrészeid?
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="secondary">
      <v-container fluid class="pt-10 pb-10">
        <v-row>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Időmegtakarítás
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Egy űrlap segítségével egyszerűen megadhatod autód pontos típusát és legfontosabb adatait.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Releváns alkatrészkeresések
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Rendszerünk elvégzi helyetted a munkát és kiválogatja számodra a releváns alkatrészkereséseket.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Kevesebb kommunikáció
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Mivel csak releváns alkatrészkereséseket kapsz, kevesebbet kell egyeztetned az érdeklődőkkel.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Egyszerűen kezelhető felület
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Oldalunk könnyen kezelhető, áttekinthető és csak a számodra hasznos funciókat tartalmazza.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Több vásárló
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Sokkal több potenciális vásárlóhoz tudsz eljutni oldalunkon keresztül.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="4" class="pt-7 mx-sm-auto">
            <h2 class="display-1 teal--text text--darken-4 text-center mb-3">
              Több sikeres eladás
            </h2>
            <p class="title font-weight-light teal--text text--darken-4 text-center">
              Akinek felületünkön keresztül ajánlatot küldesz, az valószínűleg vásárolni is fog tőled, mert tudja hogy rendelkezel a számára szükséges alkatrésszel, és ismeri a pontos árát is
            </p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="primary">
      <v-container fluid class="pt-10 pb-10">
        <h2 class="white--text display-2 font-weight-bold text-center pa-10">Milyen lépésekből áll a folyamat?</h2>
        <v-row>
          <v-col cols="12" sm="9" md="7" lg="4" class="mx-sm-auto">
            <h3 class="headline white--text text-center mb-3">
              1. Add meg, hogy milyen bontott autóval rendelkezel!
            </h3>
            <p class="subtitle font-weight-light white--text text-center">
              Az adatok rögzítése nem vesz igénybe többet 1 percnél
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="7" lg="4" class="mx-sm-auto">
            <h3 class="headline white--text text-center mb-3">
              2. Rendszerünk releváns találatokat mutat neked.
            </h3>
            <p class="subtitle font-weight-light white--text text-center">
              Ezekben ugyanahhoz az autótípushoz keresnek alkatrészt, mint amilyet Te az első lépésben felvittél.
            </p>
          </v-col>
          <v-col cols="12" sm="9" md="7" lg="4" class="mx-sm-auto">
            <h3 class="headline white--text text-center mb-3">
              3. Küldj ajánlatot a kiválasztott alkatrészkeresőnek!
            </h3>
            <p class="subtitle font-weight-light white--text text-center">
              Az ajánlatban árat, leírást, képet küldhetsz, ezzel tovább szűrheted a potenciális ügyfeleket.
            </p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div>
      <v-container class="pt-5 pb-10 text-center">
        <v-btn
          to="/registration?type=offer"
          depressed
          x-large
          color="primary"
          class="btn-xxl mt-10 mb-10"
        >
          Regisztrálok és és eladom az alkatrészeim
        </v-btn>
        <br>
        <v-btn
          to="/look-for"
          depressed
          small
          outlined
          color="primary"
          class="mb-5 button--wrap"
        >
          Kíváncsi vagyok miért jó az alkatrész keresőnek itt keresni
        </v-btn>
        <br>
        <nuxt-link class="body-2" to="/">Vissza a főoldalra</nuxt-link>
      </v-container>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import FrontendTopAppBar from '~/components/FrontendTopAppBar.vue'

export default Vue.extend({
  layout: 'frontend',
  components: {
    FrontendTopAppBar
  }
})
</script>

<style scoped lang="sass">
.top
  background: transparent url("/static/images/bontosok-com-offer.jpg") no-repeat 0 0
  background-size: cover
  min-height: 350px
</style>
