<template>
  <v-container>
    <v-card
      class="mx-auto mb-5"
      max-width="344"
    >
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/my-dismantled-cars" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Bontott autóim
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-card-text>
        <v-form ref="form">
          <CarSelect v-model="selectedCar" />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="gray"
          small
          text
          @click="cancel"
        >
          Mégse
        </v-btn>
        <v-spacer />
        <v-btn
          :loading="loading"
          :disabled="loading"
          class="submit-button"
          color="primary"
          small
          text
          outlined
          @click="submit"
        >
          Bontott autó felvétele
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import CarSelect from '~/components/CarSelect.vue'
import CardHowTo from '~/components/CardHowTo.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    CarSelect
  },
  data () {
    return {
      pageTitle: 'Bontott autó felvétele',
      instruction: 'Vidd fel bontott autód vagy autóid néhány szükséges adat megadásával!',
      howToText: [
        'Itt kell megadnod a gyártót, a modellt és a típust/évjáratot.'
      ],
      loading: false,
      selectedCar: ''
    }
  },
  mounted(): void {
    this.$store.commit('layout/setTitle', this.pageTitle)
  },
  methods: {
    cancel () {
      this.$router.push('/my-dismantled-cars')
    },
    submit () {
      this.loading = true;
      this.$axios.post(process.env.API_ENDPOINT + '/add-dismantled-car', {
        dismantledCarCode: this.selectedCar
      })
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az autót sieresen felvetted a listába.',
              type: 'success'
            });
            this.resetCarSelect();
            this.loading = false;
            this.$router.push('/my-dismantled-cars')
          }
        })
        .catch((error) => {
          if (error.response.status === 409 && error.response.data.message === 'It is already exists') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Ilyen autó már szerepel a bontott autó listádban. Kérjük, azt használd!',
              type: 'error'
            })
          } else {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Valami hiba történt az autó rögzítése során. Kérjük, próbáld újra!',
              type: 'error'
            })
          }
          this.loading = false
        })
    },
    resetCarSelect () {
      this.$store.commit('carCatalog/setMake', '');
      this.$store.commit('carCatalog/setModel', '');
      this.$store.commit('carCatalog/setPlatformYear', '');
      this.selectedCar = ''
    }
  }
})
</script>

<style scoped>

</style>
