<template>
  <v-container>
    <v-card class="mx-auto mb-5" max-width="344">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/add-part-search" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Autóim
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="gray"
          small
          text
          @click="cancel"
        >
          Mégse
        </v-btn>
        <v-spacer />
        <v-btn
          :loading="loading"
          :disabled="loading"
          class="submit-button"
          color="primary"
          small
          text
          outlined
          @click="submit"
        >
          Mentés
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  data () {
    return {
      pageTitle: 'Ajánlat: ',
      instruction: '...',
      howToText: [
        '...'
      ],
      loading: false
    }
  },
  computed: {
    ...mapGetters('offers', [
      'getOffer',
      'getOffers'
    ]),
    ...mapGetters('dismantledCars', [
      'getDismantledCar',
      'getDismantledCars'
    ]),
    ...mapGetters('partSearches', [
      'getPartSearch',
      'getPartSearches'
    ])
  },
  async mounted () {
    if (this.getDismantledCars.length === 0) {
      await this.$store.dispatch('dismantledCars/fetchDismantledCars')
    }
    if (this.getDismantledCars.length > 0) {
      const dismantledCar = this.getDismantledCars.find(dismantledCar => dismantledCar.id === this.getOffer.dismantledCarsId)
      this.$store.commit('dismantledCars/setDismantledCar', dismantledCar)
    }
    if (this.getPartSearches.length === 0) {
      await  this.$store.dispatch('partSearches/fetchPartSearches')
    }
    if (this.getPartSearches.length > 0) {
      const partSearch = this.getPartSearches.find(partSearch => partSearch.id === this.getOffer.partSearchesId)
      this.$store.commit('partSearches/setPartSearch', partSearch)
    }
  },
  methods: {
    submit () {
      console.log('submit')
    },
    cancel () {
      console.log('cancel')
    }
  }
})
</script>

<style scoped>

</style>
