<template>
  <v-container>
    <v-card
      class="mx-auto"
      max-width="600"
    >
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/pending-offers" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Kiküldött ajánlatok
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-card-text class="pt-0">
        <ListFilter v-model="filter" />
      </v-card-text>
      <v-expansion-panels
        v-model="expansionIndex"
      >
        <v-expansion-panel
          v-for="(offerRequest, index) in getOfferRequests"
          :key="index"
        >
          <v-expansion-panel-header>
            <span>
              <v-avatar :color="currentOfferRequestsLength(offerRequest.partSearches) ? 'green' : 'default'" size="28">
                <span class="white--text body-2 font-weight-bold">{{ currentOfferRequestsLength(offerRequest.partSearches) }}</span>
              </v-avatar>&nbsp;&nbsp;
              <span class="v-expansion-panel__title font-weight-medium">{{ offerRequest.make }}  {{ offerRequest.model }} </span>
              <span class="v-expansion-panel__subtitle">{{ offerRequest.platform }} {{ offerRequest.year }}</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ArchivedList
              v-if="offerRequest.partSearches && filter === 'archive'"
              :filter="filter"
              :dismantled-car="offerRequest"
              :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'archive' })"
              @change="changeStatus"
            />
            <ClosedList
              v-if="offerRequest.partSearches && filter === 'close'"
              :filter="filter"
              :dismantled-car="offerRequest"
              :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'close' })"
              @change="changeStatus"
            />
            <DoneList
              v-if="offerRequest.partSearches && filter === 'done'"
              :filter="filter"
              :dismantled-car="offerRequest"
              :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'done' })"
              @change="changeStatus"
            />
            <NewList
              v-if="offerRequest.partSearches && filter === 'new'"
              :filter="filter"
              :dismantled-car="offerRequest"
              :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'new' })"
              @send="sendOffer"
              @change="changeStatus"
            />
            <RejectedList
              v-if="offerRequest.partSearches && filter === 'reject'"
              :filter="filter"
              :dismantled-car="offerRequest"
              :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'reject' })"
              @change="changeStatus"
            />
            <ProgressList
              v-if="offerRequest.partSearches && filter === 'progress'"
              :filter="filter"
              :dismantled-car="offerRequest"
              :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'progress' })"
              @change="changeStatus"
            />
            <RevokedList
              v-if="offerRequest.partSearches && filter === 'revoke'"
              :filter="filter"
              :dismantled-car="offerRequest"
              :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'revoke' })"
              @change="changeStatus"
            />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import ArchivedList from '~/components/offer_requests/ArchivedList.vue'
import ClosedList from '~/components/offer_requests/ClosedList.vue'
import DoneList from '~/components/offer_requests/DoneList.vue'
import ListFilter from '~/components/offer_requests/ListFilter.vue'
import NewList from '~/components/offer_requests/NewList.vue'
import ProgressList from '~/components/offer_requests/ProgressList.vue'
import RejectedList from '~/components/offer_requests/RejectedList.vue'
import RevokedList from '~/components/offer_requests/RevokedList.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    ListFilter,
    ArchivedList,
    ClosedList,
    DoneList,
    NewList,
    ProgressList,
    RejectedList,
    RevokedList
  },
  data () {
    return {
      pageTitle: 'Ajánlatkérések',
      instruction: 'Böngéssz a számodra releváns ajánlatkérések között!',
      howToText: [
        'Itt kezdhetsz neki az ajánlatküldés folyamatának, ' +
        'vagy akár el is utasíthatod vagy törölheted az ajánlatkéréseket, ' +
        'amennyiben nem nem tudsz nekik segíteni; már nincs ilyen alkatrészed.'
      ],
      filter: 'new',
      expansionIndex: -1
    }
  },
  computed: {
    ...mapGetters('offerRequests', [
      'getOfferRequests'
    ]),
    ...mapGetters('offers', [
      'getOffer'
    ])
  },
  mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('offerRequests/fetchOfferRequests');
    if (this.$router.currentRoute.params.filter) {
      this.filter = this.$router.currentRoute.params.filter
    }
    const offer = this.getOffer;
    const offerRequests = this.getOfferRequests;
    if (offer && offerRequests) {
      const expansibleCar = offerRequests.find(offerRequest => offerRequest.id === offer.dismantledCarsId);
      this.expansionIndex = expansibleCar.order || -1
    }
    this.$store.commit('offers/setOffer', null)
  },
  methods: {
    currentOfferRequestsLength (offerRequests) {
      return offerRequests.filter((offerRequest) => { return offerRequest.progressStatus === this.filter }).length
    },
    sendOffer (offerRequestId, dismantledCarsId) {
      this.$store.commit('offers/setOffer', {
        partSearchesId: offerRequestId,
        dismantledCarsId
      });
      const redirectPath = '/send-offer/' + dismantledCarsId + '/' + offerRequestId;
      this.$router.push(redirectPath)
    },
    changeStatus (partSearchesId, status) {
      this.$axios.post(
        process.env.API_ENDPOINT + '/set-offer-requests-status',
        { part_searches_id: partSearchesId, status }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresés statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('offerRequests/fetchOfferRequests')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresés statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style scoped>

</style>
