<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-card-text class="pt-0">
        <v-flex class="d-flex justify-end flex-column flex-sm-row">
          <nuxt-link to="/offer-requests" class="v-btn v-btn--flat v-btn--depressed v-btn--text theme--light v-size--x-small primary secondary--text mr-2">
            Ajánlatkérések
          </nuxt-link>
        </v-flex>
      </v-card-text>
      <v-expansion-panels v-model="expansionIndex">
        <template
          v-for="(offerRequest, index) in getOfferRequests"
        >
          <v-expansion-panel
            v-if="currentOfferRequestsLength(offerRequest.partSearches) > 0"
            :key="index"
          >
            <v-expansion-panel-header>
            <span>
              <v-avatar :color="currentOfferRequestsLength(offerRequest.partSearches) ? 'green' : 'default'" size="28">
                <span class="white--text body-2 font-weight-bold">{{ currentOfferRequestsLength(offerRequest.partSearches) }}</span>
              </v-avatar>&nbsp;&nbsp;
              <span class="v-expansion-panel__title font-weight-medium">{{ offerRequest.make }}  {{ offerRequest.model }} </span>
              <span class="v-expansion-panel__subtitle">{{ offerRequest.platform }} {{ offerRequest.year }}</span>
            </span>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <PendingList
                v-if="offerRequest.partSearches && filter === 'progress'"
                :filter="filter"
                :dismantled-car="offerRequest"
                :offer-requests="offerRequest.partSearches.filter((offerRequest) => { return offerRequest.progressStatus === 'progress' })"
                @change="changeStatus"
              />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </template>
      </v-expansion-panels>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import PendingList from '~/components/offer_requests/PendingList.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    PendingList
  },
  data () {
    return {
      pageTitle: 'Kiküldött ajánlatok',
      instruction: '...',
      howToText: [
        '...'
      ],
      filter: 'progress',
      expansionIndex: -1
    }
  },
  computed: {
    ...mapGetters('offerRequests', [
      'getOfferRequests'
    ]),
    ...mapGetters('offers', [
      'getOffer'
    ])
  },
  mounted () {
    this.$store.commit('layout/setTitle', this.pageTitle)
    this.$store.dispatch('offerRequests/fetchOfferRequests');
    const offer = this.getOffer;
    const offerRequests = this.getOfferRequests;
    if (offer && offerRequests) {
      const expansibleCar = offerRequests.find(offerRequest => offerRequest.id === offer.dismantledCarsId);
      this.expansionIndex = expansibleCar.order || -1
    }
    this.$store.commit('offers/setOffer', null)
  },
  methods: {
    currentOfferRequestsLength (offerRequests) {
      return offerRequests.filter((offerRequest) => { return offerRequest.progressStatus === this.filter }).length
    },
    sendOffer (offerRequestId, dismantledCarsId) {
      this.$store.commit('offers/setOffer', {
        partSearchesId: offerRequestId,
        dismantledCarsId
      });
      const redirectPath = '/send-offer/' + dismantledCarsId + '/' + offerRequestId;
      this.$router.push(redirectPath)
    },
    changeStatus (partSearchesId, status) {
      this.$axios.post(
        process.env.API_ENDPOINT + '/set-offer-requests-status',
        { part_searches_id: partSearchesId, status }
      )
        .then((response) => {
          if (response.data.status === 'success') {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'Az Alkatrészkeresés statusszát sikeresen megváltoztattad.',
              type: 'success'
            });
            this.$store.dispatch('offerRequests/fetchOfferRequests')
          }
        })
        .catch(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'Az Alkatrészkeresés statuszát nem sikerült megváltoztatni. Kérjük, próbld újra!',
            type: 'error'
          })
        })
    }
  }
})
</script>

<style scoped>

</style>
