<template>
  <v-container>
    <v-card class="mx-auto mb-5" max-width="600">
      <CardHowTo :instruction="instruction" :how-to-text="howToText" />
      <v-list v-if="getDismantledCar" two-line>
        <v-divider />
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ getDismantledCar.make }}, {{ getDismantledCar.model }}</v-list-item-title>
            <v-list-item-subtitle>{{ getDismantledCar.platform }}, {{ getDismantledCar.year }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider />
<!--        <v-list-item v-if="getPartSearch">-->
<!--          <v-list-item-content>-->
<!--            <v-container class="pl-0">-->
<!--              <v-row>-->
<!--                <v-col cols="12" sm="8">-->
<!--                  <v-list-item-subtitle>{{ getPartSearch.createdAt }}</v-list-item-subtitle>-->
<!--                  <v-list-item-title>{{ getPartSearch.title }}</v-list-item-title>-->
<!--                  <v-list-item-subtitle>{{ getPartSearch.description }}</v-list-item-subtitle>-->
<!--                </v-col>-->
<!--                <v-col v-if="getPartSearch && getPartSearch.images.length" cols="12" sm="4">-->
<!--                  <v-flex class="image-container d-flex flex-row align-center">-->
<!--                    <v-card>-->
<!--                      <v-img :src="getPartSearch.images[0]['default-600x450']" />-->
<!--                    </v-card>-->
<!--                  </v-flex>-->
<!--                </v-col>-->
<!--              </v-row>-->
<!--            </v-container>-->
<!--          </v-list-item-content>-->
<!--        </v-list-item>-->
        <v-divider />
      </v-list>
      <SendOfferForm @cancel="cancel" @submit="submit" />
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CardHowTo from '~/components/CardHowTo.vue'
import SendOfferForm from '~/components/SendOfferForm.vue'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  components: {
    CardHowTo,
    SendOfferForm
  },
  data () {
    return {
      pageTitle: 'Ajánlatküldés',
      instruction: 'Az alábbi űrlap kitöltésével tudsz ajánlatot küldeni az alkatrész keresőnek.',
      howToText: [
        'Itt kell megadnod a gyártót, a modellt és a típust/évjáratot.'
      ],
      loading: false,
      details: '',
      price: ''
    }
  },
  computed: {
    ...mapGetters('offers', [
      'getOffer',
      'getOffers'
    ]),
    ...mapGetters('dismantledCars', [
      'getDismantledCar',
      'getDismantledCars'
    ]),
    ...mapGetters('partSearches', [
      'getPartSearch',
      'getPartSearches'
    ])
  },
  async mounted () {
    if (this.getDismantledCars.length === 0) {
      await this.$store.dispatch('dismantledCars/fetchDismantledCars')
    }
    if (this.getDismantledCars.length > 0) {
      const dismantledCar = this.getDismantledCars.find(dismantledCar => Number(dismantledCar.id) === Number(this.$router.currentRoute.params.dismantledCarsId))
      this.$store.commit('dismantledCars/setDismantledCar', dismantledCar)
    }
    if (this.getPartSearches.length === 0) {
      await  this.$store.dispatch('partSearches/fetchPartSearches')
    }
    if (this.getPartSearches.length > 0) {
      const partSearch = this.getPartSearches.find(partSearch => Number(partSearch.id) === Number(this.$router.currentRoute.params.partSearchesId))
      this.$store.commit('partSearches/setPartSearch', partSearch)
    }
    console.log(this.getPartSearch)
  },
  methods: {
    submit () {
      // const form: any = this.$refs.form
      // if (form.validate()) {
      //   this.loading = true
      //   this.$axios.post(process.env.API_ENDPOINT + '/send-offer', {
      //     dismantled_cars_id: this.getOffer.dismantledCarsId,
      //     part_searches_id: this.getOffer.partSearchesId,
      //     details: this.details,
      //     price: this.price
      //   }).then(() => {
      //     this.$store.dispatch('snackbar/showSnackbar', {
      //       text: 'Az ajánlatod sikeresen elküldtük.',
      //       type: 'success'
      //     })
      //     this.loading = false
      //     this.$router.push('/offer-requests/progress')
      //   })
      //     .catch(() => {
      //       this.$store.dispatch('snackbar/showSnackbar', {
      //         text: 'Az ajánlatot nem sikerült elküldeni.',
      //         type: 'error'
      //       })
      //       this.loading = false
      //     })
      // }
    },
    cancel () {
      // this.$router.push('/offer-requests')
    }
  }
})
</script>

<style lang="sass" scoped>

</style>
