<template>
  <v-container>
    <v-flex xs12 justify-end class="d-flex">
      <span class="caption font-weight-regular top-question pr-3">
        Nincs még fiókod?
      </span>
      <v-btn
        to="/registration"
        depressed
        small
        color="primary"
      >
        Regisztráció
      </v-btn>
    </v-flex>
    <v-row justify="center">
      <v-col
        class="content"
        xs="12"
        sm="7"
        md="5"
        lg="4"
        xl="2"
      >
        <h1 class="display-1 font-weight-black pt-10 pb-7">
          Bejelentkezés
        </h1>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="Email cím"
            filled
            dense
            @keyup.enter="submit"
            @keyup="errorResponse = false"
          />
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            type="password"
            label="Jelszó"
            filled
            dense
            @keyup.enter="submit"
            @keyup="errorResponse = false"
          />
          <v-row class="ma-0 pt-0 pb-10">
            <v-col xs="6" class="pa-0">
              <v-checkbox v-model="rememberMe" class="mt-0 pt-0" hide-details>
                <template v-slot:label>
                  <div class="caption">
                    Emlékezz rám
                  </div>
                </template>
              </v-checkbox>
            </v-col>
            <v-col xs="6" class="pa-0 caption" align="right">
              <nuxt-link to="/forgot-password">
                Elfelejtett jelszó
              </nuxt-link>
            </v-col>
          </v-row>
          <v-alert v-if="errorResponse" type="error">
            A bejelentkezés nem sikerült. Az e-mail cím vagy a jelszó helytelen.
          </v-alert>
          <v-btn
            :loading="loading"
            :disabled="loading"
            class="submit-button"
            color="primary"
            large
            @click="submit"
          >
            <v-icon left>
              mdi-email
            </v-icon>
            Bejelentkezés e-mail címmel
          </v-btn>
          <v-flex class="d-flex mt-3" justify-center>
            <nuxt-link to="/" class="caption">
              Vissza a főoldalra
            </nuxt-link>
          </v-flex>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

const Cookies = process.client ? require('js-cookie') : undefined;

export default Vue.extend({
  layout: 'without-frame',
  components: {},
  data () {
    return {
      loading: false,
      errorResponse: false,
      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'Az e-mail cím megadása kötelező',
        v => /.+@.+\..+/.test(v) || 'Érvénytelen e-mail cím'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Jelszó megadása kötelező'
      ],
      rememberMe: false
    }
  },
  mounted (): void {
    this.errorResponse = false;
    this.setAuthData()
  },
  methods: {
    submit () {
      if (this.rememberMe) {
        this.storeAuthData()
      }
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.loading = true;
        this.$axios.$post(process.env.API_ENDPOINT + '/login', {
          email: this.email,
          password: this.password
        })
          .then((response) => {
            this.$store.commit('auth/logIn');
            Cookies.set('token', response.token, { expires: 36000 });
            this.$axios.setToken(response.token, 'Bearer');
            this.$store.dispatch('user/fetchLoggedInUser');
            this.$store.dispatch('carCatalog/fetchCarCatalog');
            this.$router.push('/dashboard');
            this.loading = false
          })
          .catch(() => {
            this.$store.commit('auth/logOut');
            this.errorResponse = true;
            this.loading = false
          })
      }
    },
    storeAuthData () {
      const authData = JSON.stringify({ email: this.email, password: this.password });
      localStorage.setItem('authData', authData)
    },
    setAuthData () {
      const authDataJSON = localStorage.getItem('authData');
      if (authDataJSON) {
        const authData = JSON.parse(authDataJSON);
        this.email = authData.email;
        this.password = authData.password
      }
    }
  }
})
</script>

<style lang="sass" scoped>
.content
  max-width: 450px
  box-sizing: border-box
.top-question
  line-height: 28px
.remember-me
  label
    font-size: 0.75rem
.submit-button
  width: 100%
</style>
