<template>
  <v-card>
    <v-card-title class="subtitle-1">
      {{ cardTitle }}
    </v-card-title>
    <v-card-text>
      <v-form
        ref="formChangeEmail"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          filled
          dense
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        color="gray"
        small
        text
        @click="cancel"
      >
        Mégse
      </v-btn>
      <v-spacer />
      <v-btn
        :loading="loading"
        :disabled="loading"
        class="submit-button"
        color="primary"
        small
        text
        outlined
        @click="submit"
      >
        E-mail módosítása
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ProfileChangeEmail',
  data () {
    return {
      cardTitle: 'E-mail cím',
      loading: false,
      valid: false,
      emailRules: [
        v => !!v || 'Az e-mail cím megadása kötelező',
        v => /.+@.+\..+/.test(v) || 'Érvénytelen e-mail cím'
      ]
    }
  },
  computed: {
    email: {
      set (val) {
        this.$store.commit('user/setEmail', val)
      },
      get () {
        return this.$store.state.user.user.email
      }
    }
  },
  methods: {
    submit () {
      const form: any = this.$refs.formChangeEmail;
      if (form.validate()) {
        this.loading = true;
        this.$axios.post(process.env.API_ENDPOINT + '/change-email', {
          email: this.email
        }).then(() => {
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'A e-mail címed módosítottuk',
            type: 'success'
          });
          this.loading = false;
          this.clearForm()
        })
          .catch(() => {
            this.$store.dispatch('snackbar/showSnackbar', {
              text: 'E-mail címed nem sikerült módosítani',
              type: 'error'
            });
            this.loading = false
          })
      }
    },
    cancel () {
      this.clearForm();
      this.loading = false
    },
    clearForm () {
      this.email = '';
      const form: any = this.$refs.formChangeEmail;
      form.resetValidation()
    }
  }
})
</script>
