<template>
  <v-menu
    v-if="isLoggedIn && userIsFetched"
    v-model="menu"
    :close-on-content-click="false"
    :nudge-width="200"
    offset-x
  >
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        color="primary"
        v-on="on"
      >
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-list>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ getUsername }}</v-list-item-title>
            <v-list-item-subtitle>{{ getType }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-tooltip v-if="!isFilled" bottom>
              <template v-slot:activator="{ on }">
                <v-icon class="red--text" v-on="on">
                  mdi-alert
                </v-icon>
              </template>
              <span>Még nem adtad meg az összes adatod.</span>
            </v-tooltip>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <v-divider />
      <v-list>
        <v-list-item to="/profile">
          <v-list-item-icon>
            <v-icon :class="!isFilled ? 'red--text' : 'green--text'">
              mdi-account
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="body-2" @click="menu = false">Profil</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-card-actions>
        <v-btn text small @click="menu = false">
          Mégse
        </v-btn>
        <v-spacer />
        <LogoutButton />
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import LogoutButton from '~/components/LogoutButton.vue'

export default Vue.extend({
  name: 'ProfilePopup',
  components: {
    LogoutButton
  },
  data () {
    return {
      menu: false,
      user: null,
      enabledEmailNotifications: true,
      enabledNewsletterSending: false
    }
  },
  computed: {
    ...mapGetters('auth', [
      'isLoggedIn'
    ]),
    ...mapGetters('user', [
      'userIsFetched',
      'isFilled',
      'getUser'
    ]),
    getUsername () {
      return this.getUser.username || this.getUser.email
    },
    getType () {
      return this.getUser.type === 'offer'
        ? 'Kínál'
        : 'Keres'
    }
  }
})
</script>
