<template>
  <v-card>
    <v-card-title class="subtitle-1">
      {{ cardTitle }}
    </v-card-title>
    <v-card-subtitle>Az alábbi gomb segítségével törölheted felhasználói fiókod.</v-card-subtitle>
    <v-card-actions>
      <v-btn
        class="submit-button"
        color="error"
        small
        text
        outlined
        @click.stop="dialog = true"
      >
        Felhasználói fiók törlése
      </v-btn>
      <v-dialog
        v-model="dialog"
        max-width="450"
      >
        <v-card>
          <v-card-title class="headline mb-3">
            Felhasználói fiók törlésének megerősítése
          </v-card-title>
          <v-card-text>
            Felhasználói fiókod törlésével a fiók először csak inaktívvá,
            így a továbbiakban számodra elérhetetlenné válik.
            Adataidat, hírdetéseidet és kereséseidet véglegesen harminc
            nap múlva fogjuk törölni. Ez idő alatt még lehetőséged van kérni
            fiókod visszaállítását a támogatási rendszerünkön keresztül.
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="gray darken-1"
              text
              @click="dialog = false"
            >
              Mégse
            </v-btn>
            <v-btn
              :loading="loading"
              :disabled="loading"
              color="red white--text darken-1"
              depressed
              @click="submit"
            >
              Törlöm a fiókom
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-actions>
    <v-dialog
      v-model="goodByeDialog"
      max-width="450"
      @click:outside="submitGoodBye"
    >
      <v-card>
        <v-card-title class="red headline mb-5">
          Felhasználói fiók törlése
        </v-card-title>
        <v-card-text>
          A felhasználói fiókod töröltük. Köszönjük, hogy használtad szolgáltatásunk.
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="gray darken-1"
            text
            @click="submitGoodBye"
          >
            Viszlát
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import Vue from 'vue'
const Cookies = process.client ? require('js-cookie') : undefined;

export default Vue.extend({
  name: 'ProfileDeleteAccount',
  data () {
    return {
      cardTitle: 'Fiók törlése',
      dialog: false,
      goodByeDialog: false,
      loading: false
    }
  },
  methods: {
    submit () {
      this.loading = true;
      this.$axios.post(process.env.API_ENDPOINT + '/delete-account')
        .then(() => {
          Cookies.remove('token');
          this.$axios.setToken('', 'Bearer');
          this.$store.commit('auth/logOut', false);
          this.$store.commit('user/setUser', {});
          this.dialog = false;
          this.goodByeDialog = true
        })
        .catch(() => {
          this.loading = false;
          this.dialog = false;
          this.$store.dispatch('snackbar/showSnackbar', {
            text: 'A felhasználói fiókod törlése nem sikerült',
            type: 'error'
          })
        })
    },
    submitGoodBye () {
      this.$router.push('/')
    }
  }
})
</script>
