<template>
  <div>
    <v-select
      v-model="make"
      :items="getCarCatalogMakes"
      label="Gyártó"
      dense
      filled
      @change="changeMake"
    />
    <v-select
      v-model="model"
      :items="getCarCatalogModels"
      label="Model"
      dense
      filled
      @change="changeModel"
    />
    <v-select
      v-model="platformYear"
      :items="getCarCatalogPlatformYears"
      label="Típus, Évjárat"
      dense
      filled
      @change="changePlatformYear"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'CarSelect',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapGetters('carCatalog', [
      'getMake',
      'getModel',
      'getPlatformYear',
      'getCarCatalog',
      'getCarCatalogMakes',
      'getCarCatalogModels',
      'getCarCatalogPlatformYears'
    ]),
    make: {
      set (val) {
        this.$store.commit('carCatalog/setMake', val)
      },
      get () {
        return this.getMake
      }
    },
    model: {
      set (val) {
        this.$store.commit('carCatalog/setModel', val)
      },
      get () {
        return this.getModel
      }
    },
    platformYear: {
      set (val) {
        this.$store.commit('carCatalog/setPlatformYear', val)
      },
      get () {
        return this.getPlatformYear
      }
    }
  },
  mounted () {
    this.$emit('input', '');
    this.make = '';
    this.model = '';
    this.platformYear = ''
  },
  methods: {
    changeMake () {
      this.$emit('input', '');
      this.model = '';
      this.platformYear = ''
    },
    changeModel () {
      this.$emit('input', '');
      this.platformYear = ''
    },
    changePlatformYear () {
      this.$emit('input', this.make + '_' + this.model + '_' + this.platformYear)
    }
  }
})
</script>

<style scoped>

</style>
