<template>
  <div v-if="isNotConsented" class="warning cookie-consent">
    <v-container>
      <v-row class="mt-3 mb-3">
        <v-col cols="12" lg="8" class="d-flex align-center">
          <p class="white--text text-center mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            <TermsLink />tempor
            <nuxt-link to="/cookie">Cookie tájékoztató</nuxt-link>incididunt ut labore et dolore magna aliqua.
          </p>
        </v-col>
        <v-col cols="12" lg="4" class="text-center">
          <v-btn
            @click="setCookieConsent"
            class="ma-2"
            depressed
            outlined
            color="secondary"
          >Elfogadom</v-btn>
          <v-btn
            @click="closePopup"
            class="ma-2"
            depressed
            outlined
            color="secondary"
          >Nem fogadom el</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import TermsLink from '~/components/TermsLink.vue'

const Cookies = process.client ? require('js-cookie') : undefined;

export default Vue.extend({
  name: 'CookieConsentPopup',
  components: {
    TermsLink
  },
  data () {
    return {
      gdprVersion: '',
      isNotConsented: false,
      gdprFilePath: '/static/documents/',
      gdprFileName: 'bontosok_adatvedelmi_tajekoztato_v1.0.pdf'
    }
  },
  mounted (): void {
    const matches = this.gdprFileName.match(/_(v[0-9\.]*).pdf$/);
    if (matches) {
      this.gdprVersion = matches[1];
    }
    this.showPopup()
  },
  methods: {
    setCookieConsent() {
      Cookies.set('gdprVersion', this.gdprVersion);
      this.showPopup()
    },
    showPopup () {
      if (Cookies) {
        this.isNotConsented = Cookies.get('gdprVersion') !== this.gdprVersion;
      }
    },
    closePopup() {
      Cookies.set('gdprVersion', '');
      this.isNotConsented = false
    }
  }
})
</script>

<style lang="sass">
.cookie-consent
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 1000
  .container
    min-width: 355px
    max-width: 700px
</style>
