<template>
  <v-flex xs12 :class="[back ? 'justify-space-between' : 'justify-end']" class="d-flex">
    <v-btn v-if="back" icon to="/" :color="color">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <TopAppBarIcons :color="color" />
  </v-flex>
</template>

<script lang="ts">
import Vue from 'vue'

import TopAppBarIcons from '~/components/TopAppBarIcons.vue'

export default Vue.extend({
  name: 'FrontendTopAppBar',
  props: {
    color: {
      default: 'primary',
      type: String
    },
    back: {
      default: true,
      type: Boolean
    }
  },
  components: {
    TopAppBarIcons
  }
})
</script>

<style scoped>

</style>
