<template>
  <v-tooltip bottom max-width="355px">
    <template v-slot:activator="{ on }">
      <v-icon color="primary" dark v-on="on">mdi-help-circle-outline</v-icon>
    </template>
    <p class="subtitle-1 mt-3 primary--text">
      Segítség
    </p>
    <p v-for="(paragraph, index) in text" :key="index">
      {{ paragraph }}
    </p>
  </v-tooltip>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'HowToTooltip',
  props: {
    text: {
      default: [],
      type: Array
    }
  }
})
</script>

<style scoped lang="sass">
i
  cursor: help
</style>
