<template>
  <div class="d-inline">
    <template v-if="!isLoggedIn">
      <v-btn
        icon
        :color="color"
        to="/login"
      >
        <v-icon>mdi-door</v-icon>
      </v-btn>
    </template>
    <template v-else>
      <v-btn to="/dashboard" icon :color="color">
        <v-icon>mdi-briefcase</v-icon>
      </v-btn>
      <ProfilePopup />
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import ProfilePopup from '~/components/user/ProfilePopup.vue'

export default Vue.extend({
  name: 'TopAppBarIcons',
  props: {
    color: {
      type: String,
      default: 'primary'
    }
  },
  components: {
    ProfilePopup
  },
  computed: {
    ...mapGetters('auth', [
      'isLoggedIn'
    ])
  }
})
</script>
