<template>
  <v-container class="pt-8">
    <v-row justify="center">
      <v-col v-if="message">
        <v-card class="pa-5 mt-10 mb-5">
          <h2 class="mb-5">
            Felhasználó aktiválása
          </h2>
          <p>{{ message }}</p>
        </v-card>
        <v-flex class="d-flex" justify-center>
          <nuxt-link to="/login">
            Belépés
          </nuxt-link>
        </v-flex>
        <v-flex class="d-flex" justify-center>
          <nuxt-link to="/">
            Vissza a főoldalra
          </nuxt-link>
        </v-flex>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
  layout: 'without-frame',
  components: {},
  data () {
    return {
      message: ''
    }
  },
  mounted (): void {
    this.confirmRegistration()
  },
  methods: {
    confirmRegistration () {
      axios.get(process.env.API_ENDPOINT + '/confirm-registration', {
        params: {
          activation_token: this.$route.query.activation_token
        }
      }).then(() => {
        this.handleSuccessResponse()
      })
        .catch(() => {
          this.handleErrorResponse()
        })
    },
    handleSuccessResponse () {
      this.message = 'A felhasználó aktiválása sikeresen megtörtént.'
    },
    handleErrorResponse () {
      this.message = 'A felhasználó aktiválása nem sikerült.'
    }
  }
})
</script>

<style lang="sass" scoped>
.submit-button
  width: 100%
</style>
