<template>
  <v-container class="pt-8">
    <v-row v-if="!responseMessage" justify="center">
      <v-col
        class="content"
        xs="12"
        sm="7"
        md="5"
        lg="4"
        xl="2"
      >
        <h1 class="display-1 font-weight-black pt-10">
          Elfelejtett jelszó
        </h1>
        <p class="pb-7">
          Kérjük, hogy add meg e-mail címed és amennyiben szerepel az
          adatbázisunban úgy elküldünk rá egy e-mailt, mely segítségével
          módosíthatod jelszavad.
        </p>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="email"
            label="Email cím"
            filled
            dense
            @keyup.enter="submit"
          />
          <v-btn
            :loading="loading"
            :disabled="loading"
            class="submit-button"
            color="primary"
            large
            @click="submit"
          >
            Új jelszó kérése
          </v-btn>
          <v-flex class="d-flex mt-3" justify-center>
            <nuxt-link to="/" class="caption">
              Vissza a főoldalra
            </nuxt-link>
          </v-flex>
        </v-form>
      </v-col>
    </v-row>
    <v-row v-else justify="center">
      <v-col>
        <v-card class="pa-5 mt-10 mb-5">
          <h2 class="mb-5">
            Jelszó módosítási kérelem
          </h2>
          <p>{{ responseMessage }}</p>
          <a v-if="forgotPasswordLink" @click="resetPage">
            Újra megpróbálom
          </a>
        </v-card>
        <v-flex class="d-flex" justify-center>
          <nuxt-link to="/">
            Vissza a főoldalra
          </nuxt-link>
        </v-flex>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
  layout: 'without-frame',
  components: {},
  data () {
    return {
      loading: false,
      responseMessage: '',
      forgotPasswordLink: false,
      valid: false,
      email: '',
      // emailRules: [
      //   v => !!v || 'Az e-mail cím megadása kötelező',
      //   v => /.+@.+\..+/.test(v) || 'Érvénytelen e-mail cím'
      // ]
    }
  },
  mounted (): void {
    this.resetPage()
  },
  methods: {
    resetPage () {
      this.email = '';
      this.loading = false;
      this.responseMessage = '';
      this.forgotPasswordLink = false
    },
    submit () {
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.loading = true;
        axios.post(process.env.API_ENDPOINT + '/forgot-password', {
          email: this.email
        })
          .then((response) => {
            if (response.data.status === 'success') {
              this.handleSuccessResponse()
            } else {
              this.handleErrorResponse()
            }
          })
          .catch(() => {
            this.handleErrorResponse()
          })
      }
    },
    handleSuccessResponse () {
      this.responseMessage = 'A jelszó módosításához szükséges linket az e-mail címedre elküldtük. Amennyiben nem úgy látod nem kaptad meg levelünket, nézd meg a "Spam mappát"!';
      this.forgotPasswordLink = false;
      this.loading = false
    },
    handleErrorResponse () {
      this.responseMessage = 'A jelszó módosítási kérelem feldolgozása során hiba történt.';
      this.forgotPasswordLink = true;
      this.loading = false
    }
  }
})
</script>

<style lang="sass" scoped>
.content
  max-width: 450px
  box-sizing: border-box
.submit-button
  width: 100%
</style>
