<template>
  <v-container>
    <v-flex xs12 justify-end class="d-flex">
      <span class="caption font-weight-regular top-question pr-3">Már regisztráltál?</span>
      <v-btn depressed small color="primary" to="/login">Bejelentkezés</v-btn>
    </v-flex>
    <v-row v-if="!responseMessage" justify="center">
      <v-col class="content" xs="12" sm="7" md="5" lg="4" xl="2">
        <h1 class="display-1 font-weight-black pt-10 pb-7">Regisztráció</h1>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field v-model="email" :rules="emailRules" label="Email cím" filled dense />
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            type="password"
            label="Jelszó"
            filled
            dense
            @keyup.enter="submit"
          />
          <v-text-field
            v-model="passwordConfirm"
            :rules="[
              v => !!v || 'Jelszó megerősítése kötelező',
              passwordComparisonRules
            ]"
            type="password"
            label="Jelszó megerősítése"
            filled
            dense
            @keyup.enter="submit"
          />
          <v-btn-toggle v-model="type" mandatory class="user-type">
            <v-btn class="caption">Alkatrészt vásárolok</v-btn>
            <v-btn class="caption">Alkatrészt adok el</v-btn>
          </v-btn-toggle>
          <v-checkbox v-model="terms" :rules="termsRules" class="pb-5">
            <template v-slot:label>
              <div class="caption">
                Megerősítem, hogy elfogadom a Bontosok.com
                <TermsLink class="caption" />
                és a
                <nuxt-link to="/cookie">Felhasználási feltételeket</nuxt-link>
              </div>
            </template>
          </v-checkbox>
          <v-btn
            :loading="loading"
            :disabled="loading"
            class="submit-button"
            color="primary"
            large
            @click="submit"
          >
            Regisztráció
          </v-btn>
          <v-flex class="d-flex mt-3" justify-center>
            <nuxt-link to="/" class="caption">Vissza a főoldalra</nuxt-link>
          </v-flex>
        </v-form>
      </v-col>
    </v-row>
    <v-row v-else justify="center">
      <v-col>
        <v-card class="pa-5 mt-10 mb-5">
          <h2 class="mb-5">{{ responseTitle }}</h2>
          <p>{{ responseMessage }}</p>
          <a v-if="link === 'registration'" @click="resetPage">{{ linkAlias }}</a>
          <nuxt-link v-else :to="link">{{ linkAlias }}</nuxt-link>
        </v-card>
        <v-flex class="d-flex" justify-center>
          <nuxt-link to="/">Vissza a főoldalra</nuxt-link>
        </v-flex>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

import TermsLink from '~/components/TermsLink.vue'

export default Vue.extend({
  layout: 'without-frame',
  components: {
    TermsLink
  },
  data () {
    return {
      loading: false,
      response: false,
      responseTitle: '',
      responseMessage: '',
      linkAlias: '',
      link: '',
      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'Az e-mail cím megadása kötelező',
        v => /.+@.+\..+/.test(v) || 'Érvénytelen e-mail cím'
      ],
      password: '',
      passwordConfirm: '',
      passwordRules: [
        v => !!v || 'Jelszó megadása kötelező',
        v => v.length >= 10 || 'A jelszónak hosszabbnak kell lennie 10 karakternél'
      ],
      type: 0,
      terms: '',
      termsRules: [
        v => !!v || 'A továbbhaladáshoz a kondiciók elfogadása kötelező'
      ]
    }
  },
  mounted (): void {
    this.resetPage()
  },
  methods: {
    resetPage () {
      this.loading = false;
      this.responseMessage = '';
      this.responseTitle = '';
      this.linkAlias = '';
      this.link = '';

      this.resetForm()
    },
    resetForm () {
      this.email = '';
      this.password = '';
      this.passwordConfirm = '';
      this.terms = '';

      const urlParams = new URLSearchParams(window.location.search);
      this.type = urlParams.get('type') === 'offer' ? 1 : 0
    },
    passwordComparisonRules () {
      return this.password === this.passwordConfirm || 'A jelszó megerősítése nem egyezik a jelszóval'
    },
    submit () {
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.loading = true;
        axios.post(process.env.API_ENDPOINT + '/registration', {
          email: this.email,
          password: this.password,
          passwordConfirm: this.passwordConfirm,
          type: this.type,
          terms: this.terms
        })
          .then((response) => {
            if (response.data.status === 'success') {
              this.handleSuccessResponse()
            } else {
              this.handleErrorResponse('')
            }
          })
          .catch((error) => {
            this.handleErrorResponse(error.response.data.message)
          })
      }
    },
    handleSuccessResponse () {
      this.responseTitle = 'Sikeres regisztráció';
      this.responseMessage = 'Köszönöjük regisztrációdat! Az e-mail címedre elküldtük a fiókod aktiválásához szükséges linket. Amennyiben nem találod a levelünket a "Beérkezett levelek" mappádban, úgy kérjük nézd meg a "Spam" mappát, hátha oda került.';
      this.linkAlias = '';
      this.link = '';
      this.loading = false
    },
    handleErrorResponse (error) {
      this.responseTitle = 'Hiba a regisztráció során';
      if (error.match(/users_email_uindex/g)) {
        this.responseMessage = 'Ez az email-cím már szerepel az adatbázisunkban. Amennyiben elfelejtetted a hozzá tartozó jelszót az alábbi linkent kérheted annak módosítását:';
        this.linkAlias = 'Elfelejtette a jelszót';
        this.link = '/forgot-password'
      } else {
        this.responseMessage = 'A regisztrációs folyamat nem sikerült. Kérjük, próbáld újra!';
        this.linkAlias = 'Újra próbálom';
        this.link = 'registration'
      }
      this.loading = false
    }
  }
})
</script>

<style lang="sass" scoped>
.content
  max-width: 450px
  box-sizing: border-box
.top-question
  line-height: 28px
.user-type
  width: 100%
  button
    width: 50%
.submit-button
  width: 100%
</style>
