<template>
  <v-container class="pt-8">
    <v-row v-if="!response" justify="center">
      <v-col
        v-if="!tokenError && enabledForm"
        class="content"
        xs="12"
        sm="7"
        md="5"
        lg="4"
        xl="2"
      >
        <h1 class="display-1 font-weight-black pt-10">
          Jelszó módosítása
        </h1>
        <p class="pb-7">
          Ezen az oldalon a <b>{{ email }}</b>
          e-mail címhez tartozó jelszót módosíthatod.
        </p>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            type="password"
            label="Jelszó"
            filled
            dense
            @keyup.enter="submit"
          />
          <v-text-field
            v-model="passwordConfirm"
            :rules="[
              v => !!v || 'Jelszó megerősítése kötelező',
              passwordComparisonRules
            ]"
            type="password"
            label="Jelszó megerősítése"
            filled
            dense
            @keyup.enter="submit"
          />
          <v-btn
            :loading="loading"
            :disabled="loading"
            class="submit-button"
            color="primary"
            large
            @click="submit"
          >
            Jelszó módosítása
          </v-btn>
          <v-flex class="d-flex mt-3" justify-center>
            <nuxt-link to="/" class="caption">
              Vissza a főoldalra
            </nuxt-link>
          </v-flex>
        </v-form>
      </v-col>
      <v-col v-if="tokenError && enabledForm">
        <v-card class="pa-5 mt-10 mb-5">
          <h2 class="mb-5">
            Jelszó módosítás
          </h2>
          <p>Hibás token. Ehhez a tokenhez nem tartozik felhasználó.</p>
          <nuxt to="/forgot-password">
            Vissza az Elfelejtett jelszó oldalra
          </nuxt>
        </v-card>
        <v-flex class="d-flex" justify-center>
          <nuxt-link to="/">
            Vissza a főoldalra
          </nuxt-link>
        </v-flex>
      </v-col>
    </v-row>
    <v-row v-else justify="center">
      <v-col>
        <v-card class="pa-5 mt-10 mb-5">
          <h2 class="mb-5">
            Jelszó módosítás
          </h2>
          <template v-if="!responseError">
            <p>Sikeres jelszó módosítás.</p>
            <nuxt to="/login">
              Tovább a Belépés oldalra
            </nuxt>
          </template>
          <template v-else>
            <p>Sikertelen jelszó módosítási kísérlet. Kérjük próbád újra.</p>
            <nuxt to="/forgot-password">
              Vissza az Elfelejtett jelszó oldalra
            </nuxt>
          </template>
        </v-card>
        <v-flex class="d-flex" justify-center>
          <nuxt-link to="/">
            Vissza a főoldalra
          </nuxt-link>
        </v-flex>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
  layout: 'without-frame',
  components: {},
  data () {
    return {
      loading: false,
      tokenError: false,
      enabledForm: false,
      response: false,
      responseError: false,
      responseMessage: '',
      loginUrl: process.env.BASE_URL + '/login',
      email: '',
      valid: false,
      password: '',
      passwordConfirm: '',
      passwordRules: [
        v => !!v || 'Jelszó megadása kötelező',
        v => v.length >= 10 || 'A jelszónak hosszabbnak kell lennie 10 karakternél'
      ]
    }
  },
  mounted (): void {
    this.confirmRegistration();
    this.loading = false;
    this.enabledForm = false;
    this.response = false;
    this.responseError = false;
    this.responseMessage = ''
  },
  methods: {
    passwordComparisonRules () {
      return this.password === this.passwordConfirm || 'A jelszó megerősítése nem egyezik a jelszóval'
    },
    confirmRegistration () {
      axios.get(process.env.API_ENDPOINT + '/get-email-by-reset-password-token', {
        params: {
          reset_password_token: this.$route.query.reset_password_token
        }
      }).then((response) => {
        this.email = response.data.email;
        this.enabledForm = true
      })
        .catch(() => {
          this.tokenError = true;
          this.enabledForm = true
        })
    },
    submit () {
      const form: any = this.$refs.form;
      if (form.validate()) {
        this.loading = true;
        axios.post(process.env.API_ENDPOINT + '/reset-password', {
          resetPasswordToken: this.$route.query.reset_password_token,
          password: this.password,
          passwordConfirm: this.passwordConfirm
        }).then(() => {
          this.handleSuccessResponse()
        })
          .catch(() => {
            this.handleErrorResponse()
          })
      }
    },
    handleSuccessResponse () {
      this.response = true;
      this.responseError = false;
      this.loading = false
    },
    handleErrorResponse () {
      this.response = true;
      this.responseError = true;
      this.loading = false
    }
  }
})
</script>

<style lang="sass" scoped>
.content
  max-width: 450px
  box-sizing: border-box
.submit-button
  width: 100%
</style>
