<template>
  <v-layout column justify-center align-center>
    /pages/404.vue - 404 Error
  </v-layout>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  components: {}
})
</script>
