<template>
  <v-container>
    <h1>Your dashboard</h1>
    <h2>Hi, {{ getUsername }}</h2>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  layout: 'default',
  middleware: 'auth',
  computed: {
    ...mapGetters('user', [
      'userIsFetched',
      'getUser'
    ]),
    getUsername () {
      return this.getUser.username || this.getUser.email
    }
  }
})
</script>

<style scoped>

</style>
