<template>
  <div>
    <div class="top">
      <v-container class="top-header pa-0 pt-5">
        <div class="top-header__app-bar">
          <v-toolbar
            flat
            app
            color="transparent"
            elevation="0"
            class="hidden-sm-and-down"
            height="40"
          >
            <v-toolbar-title>
              <router-link to="/">
                <v-img
                  src="/static/images/bontosok-com-logo.png"
                  alt="logo"
                  max-height="35px"
                  max-width="35px"
                  class
                ></v-img>
              </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items max-height="30px">
              <v-btn class="white--text btn-small mr-md-8" to="/login" flat text>Bejelentkezés</v-btn>
              <v-btn class="white--text btn-small mr-md-8" to="/registration" flat text>Regisztráció</v-btn>
              <v-btn class="white--text btn-small" to="/supply" outlined depressed>Bontós vagyok</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-toolbar flat app dark color="transparent" class="hidden-md-and-up">
            <v-toolbar-title>
              <v-img
                src="/static/images/bontosok-com-logo.png"
                alt="logo"
                max-height="35px"
                max-width="35px"
                class
              ></v-img>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-app-bar-nav-icon app dark @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          </v-toolbar>
        </div>
        <v-navigation-drawer app light v-model="drawer" absolute temporary>
          <v-list nav dense>
            <v-list-item>
              <v-list-item-content>
                <v-btn to="/login" flat text>Bejelentkezés</v-btn>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-btn to="/registration" flat text>Regisztráció</v-btn>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-btn to="/supply" flat text>Bontós vagyok</v-btn>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
        <div class="top-header__content pt-md-12 pb-md-12">
          <v-row class="pa-5 mt-md-12">
            <v-col cols="12" md="5">
              <h1
                class="display-1 font-weight-medium white--text mt-md-12 mb-0 pt-md-10"
              >BMW E46 bontott autóalkatrészek olcsó és egyszerű adás-vétele</h1>
              <p
                class="font-weight-light white--text mt-4 mb-0 md-10 pr-10"
              >Segítünk összekötni a bontósokat és az alkatrész keresőket, hogy a keresés és az eladás folyamata mindenki számára könnyebb és átláthatóbb legyen.</p>
            </v-col>
          </v-row>
          <v-row class="top-header__btn mx-auto pa-5 pb-md-12 mb-md-12">
            <v-col cols="12" md="8" lg="8" class="pb-md-12 pl-0">
              <v-btn
                to="/registration?type=offer"
                depressed
                color="primary"
                class="btn-small pt-5 pb-5 mb-5 mr-md-5"
              >Alkatrészt szeretnék venni</v-btn>
              <v-btn
                to="/registration?type=search"
                depressed
                outlined
                color="secondary"
                class="btn-small pt-5 pb-5 mb-5"
              >
                <p class="ma-0">Alkatrészt szeretnék eladni</p>
              </v-btn>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </div>
    <div class="section">
      <v-container>
        <div class="text-center">
          <h1 class="mb-9 mt-9">Hogyan működik?</h1>
        </div>
        <v-row class="text-center">
          <v-col cols="12" md="4" sm="12">
            <v-img
              src="/static/images/bontosok-com-green-icon1.png"
              alt="logo1"
              max-height="100px"
              max-width="100px"
              class="mx-auto mb-4"
            ></v-img>
            <h3>1. Tedd közzé mit keresel (ingyenes)</h3>
            <p>Esetleg csatolhatsz hozzá képet és megadhatsz egy rövid leírást is.</p>
          </v-col>
          <v-col cols="12" md="4" sm="12">
            <v-img
              src="/static/images/bontosok-com-green-icon2.png"
              alt="logo2"
              max-height="100px"
              max-width="100px"
              class="mx-auto mb-4"
            ></v-img>
            <h3>2. Válogass az ajánlatok között</h3>
            <p>Hasonlítsd össze a beérkező ajánlatokat és válaszd a legjobbat</p>
          </v-col>
          <v-col cols="12" md="4" sm="12">
            <v-img
              src="/static/images/bontosok-com-green-icon3.png"
              alt="logo3"
              max-height="100px"
              max-width="100px"
              class="mx-auto mb-4"
            ></v-img>
            <h3>3. Vedd fel a kapcsolatot</h3>
            <p>Az adá-vétel részleteiről egyeztethetsz az ajánlat küldőjével</p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="section-2">
      <v-container>
        <div class="text-center">
          <h1 class="mb-9 mt-4">Mi a nagyszerű benne?</h1>
        </div>
        <div class="pb-md-8">
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon1.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Pénzmegtakarítás</h3>
              <p>Több helyről érkezhet ajánlat. Egy adott alkatrész ára eltérő a különböző bontósoknál. Válaszd ki a számodra legjobbat és spórolj.</p>
            </v-col>
          </v-row>
          <v-divider />
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon2.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Időmegtakarítás</h3>
              <p>Ne fáradj többé a pontatlan és hiányos hirdetések böngészésével csak azért, hogy a sokadik telefonbeszélgetés után talán megtaláld az alkatrészt, amelyre szükséged van! Az oldalon regisztráció után azonnal közzéteheted alktrészkeresésed, mindössze 3 percet vesz igénybe és teljesen ingyenes. Ezután már csak a bontósok ajánlataira kell várnod, és közben töltsd az időt azzal, ami igazán fontos számodra.</p>
            </v-col>
          </v-row>
          <v-divider />
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon3.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Több lehetőség közül választhatsz</h3>
              <p>Az összes olyan bontós értesülni fog a keresésedről, akik ugyan olyan autót bontanak, mint amilyenhez te is kersed az alkatrészt. Ha rendelkeznek az általad keresett alkatrésszel, elküldik, hogy mennyibe kerül, valamint megkapod az elérhetőségüket. Nincs más dolgod, mint kiválasztani a számodra legmegfelelőbbet és felvenni a bontóssal a kapcsolatot.</p>
            </v-col>
          </v-row>
          <v-divider />
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon4.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Egyszerűen kezelhető felület</h3>
              <p>Oldalunk könnyen kezelhető, áttekinthető és csak a számodra hasznos funkciókat tartalmazza, ráadásul teljesen ingyenes.</p>
            </v-col>
          </v-row>
          <v-divider />
        </div>
      </v-container>
    </div>
    <div class="section-3">
      <v-container>
        <v-row class="pb-md-10">
          <v-col cols="12" md="6">
            <v-card max-width="500px" class="mx-auto ma-5" elevation="20">
              <v-img
                src="/static/images/bontosok-com-elado-alkatresz.jpg"
                max-height="500px"
                max-width="500px"
                class="mx-auto ma-5"
              ></v-img>
            </v-card>
          </v-col>
          <v-col cols="12" md="5" class="flex-column align-center mt-auto mb-auto">
            <div class="section-3-content pr-md-10 pl-sm-10 pr-sm-10">
              <h1 class="mb-7">Vannak eladó BMW E46 alkatrészeid?</h1>
              <p
                class="mb-7"
              >Spórold meg magadnak a klasszikus hirdetések feladásával és az érdeklődők kezelésével töltendő időt! Nálunk pár kattintás segítségével feltöltheted autód típusát és legfontosabb adatait, majd rendszerünk kiválogatja számodra a releváns alkatrészkereséseket!</p>
              <v-btn class="btn-small" block to="#" depressed color="primary">Tudj meg többet</v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="bottom text-center">
      <v-container>
        <div class="text-center">
          <h1 class="white--text font-weight-medium mb-12 mt-9">Akkor hát mire vársz még?</h1>
        </div>
        <v-row class="d-flex justify-center mx-auto pb-md-12 mb-md-12">
          <v-col
            cols="12"
            md="6"
            class="bottom-content bottom-content__divider text-center pb-8 pl-md-0 pr-md-12"
          >
            <v-img
              src="/static/images/bontosok-com-icon-kereso.png"
              max-height="100px"
              max-width="100px"
              class="mx-auto ma-5 mb-md-12"
            ></v-img>
            <h3
              class="white--text font-weight-light mb-9"
            >Tedd közzé bontott autóalkatrész keresésed még ma, és kapj árajánlatot bontósoktól.</h3>
            <v-btn class="btn-small" to="#" depressed color="primary">Alkatrészt szeretnék venni</v-btn>
          </v-col>
          <v-col cols="12" md="4" class="bottom-content text-center pb-8 pl-md-12 pr-md-0">
            <v-img
              src="/static/images/bontosok-com-icon-bontos.png"
              max-height="100px"
              max-width="100px"
              class="mx-auto ma-5 mb-md-12"
            ></v-img>
            <h3
              class="white--text font-weight-light mb-9"
            >Add el alkatrészeid, és keress pénzt bontósként a Carswapen.</h3>
            <v-btn
              class="btn-small"
              to="#"
              depressed
              color="secondary"
              outlined
            >Alkatrészt szeretnék eladni</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import CookieConsentPopup from '~/components/CookieConsentPopup.vue'
import TopAppBarIcons from '~/components/TopAppBarIcons.vue'

export default Vue.extend({
  layout: 'frontend',
  components: {
    CookieConsentPopup
  },
  data () {
    return {
      drawer: false
    }
  },
  watch: {
    group () {
      this.drawer = false
    },
  }
})
</script>

<style lang="sass" scoped>
p
  font-size: 16px
.top
  background: transparent url("/static/images/bontosok-com-header-gradient.jpg") no-repeat 0 0
  background-size: cover
.bottom
  background: transparent url("/static/images/bontosok-com-footer.jpg") no-repeat 0 0
  background-size: cover
  .bottom-content
    max-width: 450px
  .bottom-content__divider
    border-right: 1px solid #424242
@media (min-width: 960px) and (max-width: 1500px)
  .top
    padding: 0 50px
@media (max-width: 959px)
  .top-header__content
    text-align: center
  .top-header__btn
    max-width: 520px
  .bottom
    .bottom-content__divider
      border-right: none
  .section-3-content
    text-align: center
.section-possibilities
  min-height: 170px
</style>
