<template>
  <div>
    <div class="top">
      <v-container class="top-header pa-0 pt-5">
        <div class="top-header__app-bar">
          <v-toolbar
            flat
            app
            color="transparent"
            elevation="0"
            class="hidden-sm-and-down"
            height="40"
          >
            <v-toolbar-title>
              <router-link to="/">
                <v-img
                  src="/static/images/bontosok-com-logo.png"
                  alt="logo"
                  max-height="35px"
                  max-width="35px"
                  class
                ></v-img>
              </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items max-height="30px">
              <v-btn class="white--text btn-small mr-md-8" to="/login" flat text>Bejelentkezés</v-btn>
              <v-btn class="white--text btn-small mr-md-8" to="/registration" flat text>Regisztráció</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-toolbar flat app dark color="transparent" class="hidden-md-and-up">
            <v-toolbar-title>
              <v-img
                src="/static/images/bontosok-com-logo.png"
                alt="logo"
                max-height="35px"
                max-width="35px"
                class
              ></v-img>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-app-bar-nav-icon app dark @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          </v-toolbar>
        </div>
        <v-navigation-drawer app light v-model="drawer" absolute temporary>
          <v-list nav dense>
            <v-list-item>
              <v-list-item-content>
                <v-btn to="/login" flat text>Bejelentkezés</v-btn>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-btn to="/registration" flat text>Regisztráció</v-btn>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
        <div class="top-header__content pt-md-12 pb-md-12">
          <v-row class="pa-5 mt-md-12">
            <v-col cols="12" md="5">
              <h1
                class="display-1 font-weight-medium white--text mt-md-12 mb-0 pt-md-10"
              >Keress pénzt CarSwap bontósként</h1>
              <p
                class="font-weight-light white--text mt-4 mb-0 md-10 pr-10"
              >Lehetsz bontós vagy magánszemély, ha BMW E46-ot bontasz megtaláltad a helyed.</p>
            </v-col>
          </v-row>
          <v-row class="top-header__btn pa-5 pb-md-12 mb-md-12">
            <v-col cols="12" class="pb-md-12">
              <v-btn
                block
                to="/registration?type=offer"
                depressed
                color="primary"
                class="btn-small pt-5 pb-5 mb-5 mr-md-5 py-8"
              >Vágj bele!</v-btn>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </div>
    <div class="section">
      <v-container>
        <div class="section-content mx-auto text-center">
          <h1 class="mb-9 mt-9">Miért érdemes CarSwap bontósnak lenni?</h1>
          <h3
            class="font-weight-medium"
          >A CarSwap segítségével egyszerűen növelheted az eladásaid. Az oldalon azonnal értesülhetsz arról, ha valaki olyan autóhoz keres alkatrészt, mint amilyet te is bontasz. Válassz a tucat keresés között és növeld a bevételed.</h3>
        </div>
      </v-container>
    </div>
    <div class="section-2">
      <v-container>
        <div class="text-center">
          <h1 class="mb-9 mt-9">Alkatrészeladás 4 lépésben</h1>
        </div>
        <v-row class="text-center">
          <v-col cols="12" md="6" lg="3" sm="12">
            <v-img
              src="/static/images/bontosok-com-green-icon4.png"
              alt="logo1"
              max-height="100px"
              max-width="100px"
              class="mx-auto mb-4"
            ></v-img>
            <h3>1. Add meg, milyen bontott autóval rendelkezel</h3>
            <p>Az adatok rögzítése nem vesz igénybe többet 1 percnél.</p>
          </v-col>
          <v-col cols="12" md="6" lg="3" sm="12">
            <v-img
              src="/static/images/bontosok-com-green-icon5.png"
              alt="logo2"
              max-height="100px"
              max-width="100px"
              class="mx-auto mb-4"
            ></v-img>
            <h3>2. Böngéssz az alkatrészeidre való igények között</h3>
            <p>Az emberek a te bontott alkatrészeidet keresik. Nézz szét közöttük.</p>
          </v-col>
          <v-col cols="12" md="6" lg="3" sm="12">
            <v-img
              src="/static/images/bontosok-com-green-icon6.png"
              alt="logo3"
              max-height="100px"
              max-width="100px"
              class="mx-auto mb-4"
            ></v-img>
            <h3>3. Küldj ajánlatot az alkatrészkeresőnek</h3>
            <p>Az ajánlatban árat, leírást és képet is küldhetsz.</p>
          </v-col>
          <v-col cols="12" md="6" lg="3" sm="12">
            <v-img
              src="/static/images/bontosok-com-green-icon3.png"
              alt="logo3"
              max-height="100px"
              max-width="100px"
              class="mx-auto mb-4"
            ></v-img>
            <h3>3. Üdvözöld első vásárlód</h3>
            <p>Az alkatrészkereső az ajánlatod megküldése után megkapja az elérhetőséged és felveheti veled a kapcsolatot telefonon.</p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="section-3">
      <v-container>
        <div class="text-center">
          <h1 class="mb-9 mt-4">Mi a nagyszerű benne?</h1>
        </div>
        <div class="pb-md-8">
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon1.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Több vásárló</h3>
              <p>Sokkal több potenciális vásárlóhoz tudsz eljutni oldalunkon keresztül.</p>
            </v-col>
          </v-row>
          <v-divider />
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon2.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Időmegtakarítás</h3>
              <p>Egy ajánlat elküldése mindössze pár másodpercet vesz igénybe.</p>
            </v-col>
          </v-row>
          <v-divider />
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon5.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Kevesebb kommunikáció</h3>
              <p>Aki felhív az valószínűleg vásárolni fog tőled, mert tudja, hogy rendelkezel számára szükséges alkatrésszel, és ismeri a pontos árát is.</p>
            </v-col>
          </v-row>
          <v-divider />
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon6.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Releváns alkatrészkeresések</h3>
              <p>Csak olyan alkatrészkereséseket mutatunk neked, amelyek érdekesek lehetnek számodra.</p>
            </v-col>
          </v-row>
          <v-divider />
          <v-row class="section-possibilities">
            <v-col cols="12" sm="3" class="text-center mt-auto mb-auto">
              <v-img
                src="/static/images/bontosok-com-car-icon4.png"
                alt
                max-height="130px"
                max-width="130px"
                class="mx-auto"
              ></v-img>
            </v-col>
            <v-col cols="12" sm="9" class="flex-column pa-5 mt-auto mb-auto align-center">
              <h3 class="mb-1">Egyszerűen kezelhető felület</h3>
              <p>Oldalunk könnyen kezelhető, áttekinthető és csak a számodra hasznos funkciókat tartalmazza, ráadásul teljesen ingyenes.</p>
            </v-col>
          </v-row>
          <v-divider />
        </div>
      </v-container>
    </div>
    <div class="section-4">
      <v-container>
        <v-card class="mx-auto ma-5" elevation="20">
          <v-img src="/static/images/bontosok-com-cta.jpg" class="mx-auto ma-5">
            <v-row align="center" class="section-4-content lightbox white--text pa-2 fill-height">
              <v-col
                class="section-4-content__text pr-md-10 pl-sm-10 pr-sm-10 flex-column align-center"
              >
                <h1 class="mb-7 white--text font-weight-medium pl-10">Készen állsz a pénzkeresésre?</h1>
                <v-btn
                  class="btn-small ml-10"
                  to="/registration?type=offer"
                  depressed
                  color="primary"
                >
                  <span class="pl-12 pr-12">Vágj bele!</span>
                </v-btn>
              </v-col>
            </v-row>
          </v-img>
        </v-card>
      </v-container>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import CookieConsentPopup from '~/components/CookieConsentPopup.vue'

export default Vue.extend({
  layout: 'frontend',
  components: {
    CookieConsentPopup
  },
  data () {
    return {
      drawer: false
    }
  },
  watch: {
    group () {
      this.drawer = false
    },
  }
})
</script>

<style lang="sass" scoped>
p
  font-size: 16px
.top
  background: transparent url("/static/images/bontosok-com-header-gradient-bontos.jpg") no-repeat 0 0
  background-size: cover
  .top-header__btn
    max-width: 300px
.section-content
  max-width: 1000px
.section-4
  .section-4-content
    max-width: 500px
    .section-4-content__text
      > h1
        font-size: 46px
@media (min-width: 960px) and (max-width: 1500px)
  .top
    padding: 0 50px
@media (max-width: 959px)
  .top
    .top-header__content
      text-align: center
    .top-header__btn
      margin: 0 auto
  .section-4-content
    text-align: center
    margin: 0 auto
.section-possibilities
  min-height: 170px
</style>
